<div class="col-lg-7 ">
    <div id="tshirt-div">
        <div *ngIf="id==0">
            <div [hidden]="frontimage">

                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.Product_Photo}}" style="height: 500px;">
                </body>
            </div>

            <div [hidden]="sideimage">

                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.Product_SidePhoto}}" style="height: 500px;">
                </body>
            </div>

            <div [hidden]="backimage">

                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.Product_BackPhoto}}" style="height: 500px;">
                </body>
            </div>
        </div>

        <div *ngIf="id==1">
            <div [hidden]="frontimage">

                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.WomenProduct_Photo}}" style="width: 400px; height: 450px;">
                </body>
            </div>

            <div [hidden]="sideimage">

                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.WomenProduct_SidePhoto}}" style="height: 500px;">
                </body>
            </div>

            <div [hidden]="backimage">

                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.WomenProduct_BackPhoto}}" style="height: 500px;">
                </body>
            </div>
        </div>

        <div *ngIf="id==2">
            <div [hidden]="frontimage">

                <!-- <body *ngFor="let data of Product"> -->
                    <img src="assets/img/{{this.productcategoryfolder}}/{{this.image}}" style="width: 400px; height: 450px;">
                <!-- </body> -->
            </div>
        </div>

        <label for="tshirt-custompicture" style="padding-top: 10px;">Upload your own design:
            <input type="file" id="tshirt-custompicture" />
        </label>

        <!-- <div class="container" style="margin-top: 10px;">
            <button (click)="onClickFrontPhoto()" style="border-radius: 10px; height:40px; width: 80px;">
                Front
            </button>

            <button style="margin-left: 10px; border-radius: 10px; height:40px; width: 80px"
                (click)="onClickSidetPhoto()">
                Side
            </button>

            <button style="margin-left: 10px; border-radius: 10px; height:40px; width: 80px"
                (click)="onClickBackPhoto()">
                Back
            </button>
        </div> -->

        <div id="drawingArea" class="drawing-area">
            <div class="canvas-container">
                <canvas id="tshirt-canvas" width="300" height="400"></canvas>
            </div>
        </div>
    </div>

</div>
       
      

      
       
        
     

        
  