<div class="col-lg-7 ">
    <div id="tshirt-div">
        <div class="row pb-2">
            <!-- <div class=" col-lg-6 col-12"> -->
                 <!-- <span for="tshirt-custompicture">Upload Your Design : </span> -->
                <!-- </div> -->
            <div class="col-lg-4 col-12"><input type="file" class="customdesign" id="tshirt-custompicture" /></div>
        </div>
        <div *ngIf="id==0">
            <div [hidden]="frontimage">
                <div *ngIf="men_svg_path">
                <svg class="lp-view" id="product-svg" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467 571" height="571" width="467">
                <defs />
                <path id="product-shape" [attr.d]="men_svg_path" [ngStyle]="{ fill: bgColor}" />
            </svg>
            <svg class="mb-view" id="product-svg" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467 571" width="248" height="303">
                <defs />
                <path id="product-shape" [attr.d]="men_svg_path" [ngStyle]="{ fill: bgColor }" />
            </svg>
            <svg class="mm-view" id="product-svg" data-name="Layer 1"
                xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467 571" width="327" height="400">
                <defs />
                <path id="product-shape" [attr.d]="men_svg_path" [ngStyle]="{ fill: bgColor }" />
            </svg>
        </div>
                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.Product_Photo}}" class="big_img">
                </body>
            </div>
        </div>

        <div *ngIf="id==1">
            <div [hidden]="frontimage">
                <div *ngIf="women_svgpath">  
                <svg class="lp-view" id="product-svg" data-name="Layer 1"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467 571" height="571" width="467">
                                    <defs />
                                    <path id="product-shape" [attr.d]="women_svgpath" [ngStyle]="{ fill: bgColor }" />
                                </svg>
                                <svg class="mb-view" id="product-svg" data-name="Layer 1"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467 571" width="248" height="303">
                                    <defs />
                                    <path id="product-shape" [attr.d]="women_svgpath" [ngStyle]="{ fill: bgColor }" />
                                </svg>
                                <svg class="mm-view" id="product-svg" data-name="Layer 1"
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 467 571" width="327" height="400">
                                    <defs />
                                    <path id="product-shape" [attr.d]="women_svgpath" [ngStyle]="{ fill: bgColor }" />
                                </svg>
                </div>
                <body *ngFor="let data of Product">
                    <img src="assets/img/{{this.productcategoryfolder}}/{{data.WomenProduct_Photo}}" class="big_img" >
                </body>
            </div>
        </div>

        <!-- <div *ngIf="id==2">
            <div [hidden]="frontimage">

                <body *ngFor="let data of Product"> c
                    <img src="assets/img/{{this.productcategoryfolder}}/{{this.image}}" style="width: 100%;">
                </body> c
            </div>
        </div>

        <div *ngIf="id==3">
            <div [hidden]="frontimage">

                <body *ngFor="let data of Product"> c
                    <img src="assets/img/{{this.productcategoryfolder}}/{{this.image1}}" style="width: 100%; height: 450px;">
                </body> c
            </div>
        </div> -->

        <div *ngIf="id==2">
            <div [hidden]="frontimage">

                <!-- <body *ngFor="let data of Product"> -->
                    <img src="assets/img/{{this.productcategoryfolder}}/{{this.image}}" class="big_img" >
                <!-- </body> -->
            </div>
        </div>

        <div *ngIf="id==3">
            <div [hidden]="frontimage">

                <!-- <body *ngFor="let data of Product"> -->
                    <img src="assets/img/{{this.productcategoryfolder}}/{{this.image1}}" class="big_img" >
                <!-- </body> -->
            </div>
        </div>

        <!-- <div class="container" style="margin-top: 10px;">
            <button (click)="onClickFrontPhoto()" style="border-radius: 10px; height:40px; width: 80px;">
                Front
            </button>

            <button style="margin-left: 10px; border-radius: 10px; height:40px; width: 80px"
                (click)="onClickSidetPhoto()">
                Side
            </button>

            <button style="margin-left: 10px; border-radius: 10px; height:40px; width: 80px"
                (click)="onClickBackPhoto()">
                Back
            </button>
        </div> -->

        <!-- <div id="drawingArea" class="drawing-area">
            <div class="canvas-container">
                <canvas id="tshirt-canvas" width="200" height="300"></canvas>
            </div>
        </div> -->

        <div id="drawingArea" class="drawing-area">
            <div class="canvas-container">
                <canvas id="tshirt-canvas" [attr.width]="canvaswidth" [attr.height]="canvasheight" ></canvas>
                <!-- <canvas id="tshirt-canvas" width="canvaswidth" height="571"></canvas> -->
                <!-- <canvas class="lp-view" id="tshirt-canvas" width="467" height="571" ></canvas>
                <canvas class="mb-view" id="tshirt-canvas" width="247" height="303" ></canvas>
                <canvas class="mm-view" id="tshirt-canvas" width="247" height="303" ></canvas> -->
            </div>
        </div>
    </div>

</div>
       
      

      
       
        
     

        
  