<div class="ProductForm-form">
    <form class="blog" [formGroup]="ProductForm">
  
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-0">
          <label>Select Category :</label>
          <select  name="Category_Name" [(ngModel)]="Category_Id" class="form-control" formControlName="Category_Id" #mySelect
            (change)='onOptionsSelected(mySelect.value)'>
            <option value="" disabled selected>Select Category</option>
            <option *ngFor="let web of CategoryName" [value]="web.Category_Id">{{web.Category_Name}}</option> 
            
          </select>
          <div *ngIf="submitted && formControl['Category_Id'].errors" class="text-danger">
            <div *ngIf="formControl['Category_Id'].errors.required">Category is required.</div>
          </div>
        </div>


        <div class="col-md-12 roundedTextBox mb-0">
          <label>Select Sub Category :</label>
          <select [(ngModel)]="SubCategory_Id"   name="SubCategory" class="form-control" formControlName="SubCategory_Id">
            <option value="" disabled selected>Select Sub Category</option>
            <option *ngFor="let web of SubCatList" [value]="web.SubCategory_Id" >{{web.SubCategory}}</option>
             
          </select>
          <div *ngIf="submitted && formControl['SubCategory_Id'].errors" class="text-danger">
            <div *ngIf="formControl['SubCategory_Id'].errors.required">Sub Category is required</div>
          </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-0">
          <label>Product Name :</label>
          <input type="text" [(ngModel)]="Product_Title" class="form-control mb-2"
            formControlName="Product_Title" placeholder="Enter Product Name">
          <div *ngIf="submitted && formControl['Product_Title'].errors" class="text-danger">
            <div *ngIf="formControl['Product_Title'].errors.required">Product Name is required.</div>
          </div>
        </div>

        <div class="col-md-3 roundedTextBox mb-0">
          <label>MRP :</label>
          <input type="text" [(ngModel)]="MRP" class="form-control mb-2"
            formControlName="MRP" placeholder="Enter the Price">
        </div>
        
        <div class="col-md-12 roundedTextBox mb-0">
         
          <hr style="height:5px;border-width:0;color:gray;background-color:gray">
        <label> Product Specification :<a input type="button" class="btn list-tag" href="https://www.textfixer.com/html/html-list-generator.php">HTML</a></label>
           
        <!-- <input type="text"  [(ngModel)]="Description" class="form-control mb-2"  formControlName="Description"> -->
        
        <textarea rows="4" cols="43" type="text" [(ngModel)]="Product_Description" class="form-control mb-2"
           formControlName="Product_Description"></textarea>
      </div>


      </div>

      <div class="container py-5">
        <div class="row row-cols-2 row-cols-lg-2 mb-3">
          <div class="col">
            <label>Men Front Image :</label>
            <div class="col-sm-10">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
             
              <!-- <div><img [src]="url" *ngIf="url"></div> -->
              
              <div><img [src]="menfronturl" *ngIf="menfronturl else elseBlock" style="width: 100px;height: 150px;"></div>
              <p >
                <input type="file" (change)="onselectFile1($event,1)">
              </p>
              <ng-template #elseBlock>
                <div *ngIf="MenFront_Photo">
                  <img src="assets/img/{{Category_Name}}/{{MenFront_Photo}}" style="width: 100px;height: 150px;">
                </div>
              </ng-template>
            </div>
          </div>

         

          <div class="col">
            <label>Size Chart For Men :</label>
            <div class="col-sm-10">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="mensizecharturl" *ngIf="mensizecharturl; else elseBlock" style="width: 100px;height: 150px;"></div>
              <p >
                <input type="file" (change)="onselectFile2($event,2)" 
                >
              </p>
              <ng-template #elseBlock>
                <div *ngIf="SizeChartForMen">
                  <img src="assets/img/{{Category_Name}}/{{SizeChartForMen}}" style="width: 100px;height: 150px;">
                </div>
              </ng-template>
            </div>
          </div>

        </div>
      </div>
      <hr style="height:5px;border-width:0;color:gray;background-color:gray">

      <div class="container py-5">
        <div class="row row-cols-2 row-cols-lg-2 mb-0">
          <div class="col">
            <label>Women Front Image :</label>
            <div class="col-sm-10">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="womenfronturl" *ngIf="womenfronturl; else elseBlock" style="width: 100px;height: 150px;"></div>
              <p >
                <input type="file" (change)="onselectFile3($event,3)" 
                  >
              </p>
              <ng-template #elseBlock>
                <div *ngIf="WomenProduct_Photo">
                <img src="assets/img/{{Category_Name}}/{{WomenProduct_Photo}}" style="width: 100px;height: 150px;">
              </div>
            </ng-template>
            </div>
          </div>
          

          <div class="col">
            <label>Size Chart For Women</label>
            <div class="col-sm-10">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="womensizecharturl" *ngIf="womensizecharturl; else elseBlock" style="width: 100px;height: 150px;"></div>
              <p >
                <input type="file" (change)="onselectFile4($event,4)" 
                  >
              </p>
              <ng-template #elseBlock>
                <div *ngIf="SizeChartForWomen">
                  <img src="assets/img/{{Category_Name}}/{{SizeChartForWomen}}" style="width: 100px;height: 150px;">
                </div>
              </ng-template>
            </div>
          </div>

        </div>
      </div>

      
      <!-- --Men Specification-- -->
      
      <!-- <table class="table table-bordered" formArrayName="Images">
        <tr>  
          <th colspan="2">Add Multiple Men Images:</th>  
          <th width="250px">
            <button type="button" (click)="addImages()" class="btn"><i class="material-icons text-sm me-2">add</i>Add</button>
          </th>  
        </tr> 
          <tr *ngFor="let control of Images.controls; let i=index" [formGroupName]="i">
          <td>

          <label>Select Color :</label>
          <select    name="Description"  class="form-control" formControlName="TipingId"
           (change)="onSelectChange($event)">
           <option value="0" disabled selected>Select Color</option>
            <option *ngFor="let web of TippingData" [value]="web.Lookup_Details_Id">
              {{web.Description}}
            </option> 
            
          </select>
          </td>

        <td>
        
        <label>Men Front Image :</label>
        <div class="col-sm-10">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
          <p >
            <input type="file" (change)="onMultiMenFile($event)"  formControlName="MenFrontImgFile">
</p>
          <ng-template #elseBlock>
            <img src="assets/img/{{Category_Name}}/{{MenFront_Photo}}">
          </ng-template>
        </div>
       </td>

        <td>  
          <button (click)="removeImages(i)" class="btn btn-link"><i class="material-icons text-sm me-2">delete</i>Remove</button>  
      </td>
    
      </tr>
      </table>      -->

<!-- working below -->


      <!-- <table class="table table-bordered" formArrayName="Images">
        <tr>  
          <th colspan="2">Add Multiple Men Images:</th>  
          <th width="250px">
            <button type="button" (click)="addImages()" class="btn"><i class="material-icons text-sm me-2">add</i>Add</button>
          </th>  
        </tr> 
          <tr *ngFor="let control of Images.controls; let i=index" [formGroupName]="i">
          <td>

          <label>Select Color :</label>
          <select    name="Description"  class="form-control" formControlName="TipingId"
           (change)="onDropdownOrFileChange($event, i, 'TipingId')">
           <option value="" disabled selected>Select Color</option>
            <option *ngFor="let web of TippingData" [value]="web.Lookup_Details_Id">
              {{web.Description}}
            </option> 
            
          </select>
          </td>

        <td>
        
        <label>Men Front Image :</label>
        <div class="col-sm-10">
          <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
          <p class="color">
            <input type="file" (change)="onDropdownOrFileChange($event, i, 'MenFrontImgFile')"  formControlName="MenFrontImgFile">
          </p>
          <ng-template #elseBlock>
            <img src="assets/img/{{Category_Name}}/{{MenFront_Photo}}">
          </ng-template>
        </div>
       </td>
       

        <td>  
          <button (click)="removeImages(i)" class="btn btn-link"><i class="material-icons text-sm me-2">delete</i>Remove</button>  
      </td>
    
      </tr>
      </table> -->
      
      <!-- working updateProductDetails -->


      <div class="container" formArrayName="Images">
        <!-- <div class="row">
          <div class="col-12 col-md-8 col-lg-8">
            <h5>Add Multiple Men Images:</h5>
          </div>
          <div class="col-12 col-md-4 col-lg-4">
            <button type="button" (click)="addImages()" class="btn">
              <i class="material-icons text-sm me-2">add</i>Add
            </button>
          </div>
        
        </div> -->


        <div class="row">
          <div class="col-lg-9 col-9 col-md-3" >
            <h5 class="prdhead" >Add Multiple Men Images:</h5>
          </div>
          <div class="col-lg-3 col-3 col-md-3">
            <button type="button" (click)="addImages()" class="btn btn_color">
              <i class="material-icons text-sm me-2">add</i>Add
            </button>
          </div>
        </div>
      
        <div class="row align-items-center"  *ngFor="let control of Images.controls; let i=index" [formGroupName]="i">
          <div class="col-12 col-md-3 col-lg-3">
            <label>Select Color:</label>
            <select    name="Description"  class="form-control" formControlName="TipingId"
           (change)="onDropdownOrFileChange($event, i, 'TipingId')">
           <option value="" disabled selected>Select Color</option>
            <option *ngFor="let web of TippingData" [value]="web.Lookup_Details_Id">
              {{web.Description}}
              <!-- <div class="color-box"><img src="assets/img/tipping/{{web.tipping_img}}"></div> -->
            </option> 
            
          </select>
          </div>
      
          <div class="col-12 col-md-6 col-lg-6">
            <label>Men Front Image:</label>
            <div>
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
          <p class="color">
            <input type="file" (change)="onDropdownOrFileChange($event, i, 'MenFrontImgFile')"  formControlName="MenFrontImgFile">

            <!-- <input type="file"   formControlName="MenFrontImgFile"  (change)="onselectFile1($event)"> -->
          </p>
          <ng-template #elseBlock>
            <img src="assets/img/{{Category_Name}}/{{MenFront_Photo}}">
          </ng-template>
            </div>
          </div>
      
          <div class="col-12 col-md-2 col-lg-2">
            <button (click)="removeImages(i)" class="btn btn-link">
              <i class="material-icons text-sm me-2">delete</i>Remove
            </button>
          </div>
        </div>
      </div>




      <!-- Frmarray Women Section -->

      <!-- <table class="table table-bordered" formArrayName="WomenImages">
        <tr>  
          <th colspan="2">Add Multiple Women Images:</th>  
          <th width="250px">
            <button type="button" (click)="addWomenImages()" class="btn"><i class="material-icons text-sm me-2">add</i>Add</button>
          </th>  
        </tr> 
          <tr *ngFor="let control of WomenImages.controls; let i=index" [formGroupName]="i">
           <td>

          <label>Select Color :</label>
           <select    name="Description"  class="form-control" formControlName="TipingWomenId"
           (change)="onWOmenTippingChange($event)">
           <option value="0" disabled selected>Select Color</option>
            <option *ngFor="let obj of TippingData" [value]="obj.Lookup_Details_Id">
              {{obj.Description}}
            </option> 
            
          </select>
          </td>

            <td>

                  <label>Women Front Image :</label>
                  <div class="col-sm-10">
                    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                    <p >
                      <input type="file" (change)="onMultiWomenFile($event)"   formControlName="WomenFrontImgFile">
                    </p>
                    <ng-template #elseBlock>
                      <img src="assets/img/{{Category_Name}}/{{WomenProduct_Photo}}" formControlName="WomenFrontImgFile">
                  </ng-template>
                  </div>
                </td>

        <td>  
          <button (click)="removeWomenImages(i)" class="btn btn-link"><i class="material-icons text-sm me-2">delete</i>Remove</button>  
      </td>
    
      </tr>
      </table> -->
      

      <!-- working below -->


      <!-- <table class="table table-bordered" formArrayName="WomenImages">
        <tr>  
          <th colspan="2">Add Multiple Women Images:</th>  
          <th width="250px">
            <button type="button" (click)="addWomenImages()" class="btn"><i class="material-icons text-sm me-2">add</i>Add</button>
          </th>  
        </tr> 
          <tr *ngFor="let control of WomenImages.controls; let i=index" [formGroupName]="i">
           <td>

          <label>Select Color :</label>
           <select    name="Description"  class="form-control" formControlName="TipingWomenId"
           (change)="onDropdownOrFileChange_women($event, i, 'TipingWomenId')">
           <option value="" disabled selected>Select Color</option>
            <option *ngFor="let obj of TippingData" [value]="obj.Lookup_Details_Id">
              {{obj.Description}}
            </option> 
            
          </select>
          </td>

            <td>

                  <label>Women Front Image :</label>
                  <div class="col-sm-10">
                    <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                    <p class="color">
                      <input type="file" (change)="onDropdownOrFileChange_women($event, i, 'WomenFrontImgFile')"  formControlName="WomenFrontImgFile">
                    </p>
                    <ng-template #elseBlock>
                      <img src="assets/img/{{Category_Name}}/{{WomenProduct_Photo}}" formControlName="WomenFrontImgFile">
                  </ng-template>
                  </div>
                </td>

        <td>  
          <button (click)="removeWomenImages(i)" class="btn btn-link"><i class="material-icons text-sm me-2">delete</i>Remove</button>  
      </td>
    
      </tr>
      </table> -->
  

      <!-- working above -->

      <div class="container" formArrayName="WomenImages">
      <div class="row">
        <div class="col-lg-9 col-9 col-md-3" >
          <h5 class="prdhead" >Add Multiple Women Images:</h5>
        </div>
        <div class="col-lg-3 col-3 col-md-3">
          <button type="button" (click)="addWomenImages()" class="btn btn_color">
            <i class="material-icons text-sm me-2">add</i>Add
          </button>
        </div>
      </div>
    
      <div class="row align-items-center"  *ngFor="let control of WomenImages.controls; let i=index" [formGroupName]="i">
        <div class="col-12 col-md-3 col-lg-3">
          <label>Select Color:</label>
          <select    name="Description"  class="form-control" formControlName="TipingWomenId"
         (change)="onDropdownOrFileChange_women($event, i, 'TipingWomenId')">
         <option value="" disabled selected>Select Color</option>
          <option *ngFor="let web of TippingData" [value]="web.Lookup_Details_Id">
            {{web.Description}}
            <!-- <div class="color-box"><img src="assets/img/tipping/{{web.tipping_img}}"></div> -->
          </option> 
          
        </select>
        </div>
    
        <div class="col-12 col-md-6 col-lg-6">
          <label>Women Front Image :</label>
          <div>
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <p class="color">
          <input type="file" (change)="onDropdownOrFileChange_women($event, i, 'WomenFrontImgFile')"  formControlName="WomenFrontImgFile">

          <!-- <input type="file"   formControlName="MenFrontImgFile"  (change)="onselectFile1($event)"> -->
        </p>
        <ng-template #elseBlock>
          <img src="assets/img/{{Category_Name}}/{{WomenProduct_Photo}}">
        </ng-template>
          </div>
        </div>
    
        <div class="col-12 col-md-2 col-lg-2">
          <button (click)="removeWomenImages(i)" class="btn btn-link">
            <i class="material-icons text-sm me-2">delete</i>Remove
          </button>
        </div>
      </div>
    </div>

  
      <!-- --Size-- -->
  
  
      <div class="col-md-12 roundedTextBox mb-3 sizewidth_length">
        <label>Select Size :</label>
        <div class="container">
          <div class="row row-cols-lg-7 g-4">
            <div class="col" data-wow-delay="0.1s" *ngFor="let data of SizeData"  formControlName="SizeId"
              [(ngModel)]="SizeId" ngDefaultControl>
              <label>
                <input type="checkbox"  style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
                  (change)="onSelectSizeChange($event)" />
                {{data.Description}}
               </label>
              </div>
          </div>
        </div>
      </div>
  
      <div class="col-md-12 roundedTextBox mb-3 sizewidth_length_mobile">
        <label>Select Size :</label>
        <div class="container">
          <div class="row row-cols-lg-3 g-4">
            <div class="col" data-wow-delay="0.1s" *ngFor="let data of SizeData"  formControlName="SizeId"
              [(ngModel)]="SizeId" ngDefaultControl>
              <label>
                <input type="checkbox"  style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
                  (change)="onSelectSizeChange($event)" />
                {{data.Description}}
               </label>
              </div>
          </div>
        </div>
      </div>

      <div class="buttons">
        <button type="button" (click)="multiProductDetails()" *ngIf="multiProduct.Product_Id==0"
          class="btn btn-primary">Add</button>
      </div>
    </form>

    <!-- {{this.ProductForm.value | json}}   -->
  </div>