<div class="ProductForm-form">
  <form class="blog" [formGroup]="ProductForm">

    <div class="row">

<div *ngIf="Product_Id1==0">


      <div class="col-md-12 roundedTextBox mb-0 ">
        <label>Select Category :</label>
       
        <select  name="Category_Name" [(ngModel)]="Category_Id" class="form-control "
          formControlName="Category_Id" #mySelect (change)='onOptionsSelected(mySelect.value)'>
          <option  value="" disabled selected>Select Category</option>
          <option  *ngFor="let web of CategoryName" [value]="web.Category_Id">{{web.Category_Name}}</option>

        </select>
      
        <div *ngIf="submitted && this.ProductForm.controls['Category_Id'].errors" class="text-danger">
          <div *ngIf="this.ProductForm.controls['Category_Id'].errors.required">Category is required.</div>
        </div>
      </div>



      <div class="col-md-12 roundedTextBox mb-0">
        <label>Select Sub Category :</label>
        <select [(ngModel)]="SubCategory_Id" name="SubCategory" class="form-control" formControlName="SubCategory_Id">
          <option value="" disabled selected>Select Sub Category</option>
          <option *ngFor="let web of SubCatList" [value]="web.SubCategory_Id">{{web.SubCategory}}</option>

        </select>
        <div *ngIf="submitted && this.ProductForm.controls['SubCategory_Id'].errors" class="text-danger">
          <div *ngIf="this.ProductForm.controls['SubCategory_Id'].errors.required">Sub Category is required</div>
        </div>
      </div>
    </div>
      <div class="col-md-12 roundedTextBox mb-0">
        <label>Product Name :</label>
        <input type="text" [(ngModel)]="Product_Title" class="form-control mb-2" 
          formControlName="Product_Title" placeholder="Enter Product Name">
        <div *ngIf="submitted && this.ProductForm.controls['Product_Title'].errors" class="text-danger">
          <div *ngIf="this.ProductForm.controls['Product_Title'].errors.required">Product Name is required.</div>
        </div>
      </div>
      <div class="col-md-3 roundedTextBox mb-0">
        <label>MRP :</label>
        <input type="text" [(ngModel)]="MRP" class="form-control mb-2"  formControlName="MRP"
          placeholder="Enter the Price">
      </div>
    </div>
    <div class="col">
      <label>Front Image :</label>
      <div class="col-sm-10">
        <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
        <div><img [src]="frontphoto_url" *ngIf="frontphoto_url; else elseBlock" style="width: 100px;height: 150px;">
        </div>

        <p>
          <input type="file" (change)="onselectFile2($event,2)">
        </p>
        <ng-template #elseBlock>
          <div *ngIf="Product_FrontPhoto">
          <img src="assets/img/{{productcategoryfolder}}/{{Product_FrontPhoto}}" style="width: 100px;height: 150px;">
          </div>
        </ng-template>
      </div>

    </div>
    <br>

    <!-- --Men Specification-- -->

    <div class="col-md-12 roundedTextBox mb-3">
      <label><b>Men Product Specification</b> :<a input type="button" class="btn list-tag" target="_blank"
          href="https://www.textfixer.com/html/html-list-generator.php">HTML</a></label>
      <!-- <input type="text"  [(ngModel)]="Description" class="form-control mb-2"  formControlName="Description" placeholder="Enter Product Description"> -->
      <textarea rows="4" cols="43" type="text" [(ngModel)]="Product_Description" class="form-control mb-2"
        formControlName="Product_Description"
        placeholder="Enter Product Specification"></textarea>
    </div>

    <div class="container py-5">
      <div class="row row-cols-2 row-cols-lg-2 mb-3">
        <div class="col">
          <label>Men Front Image :</label>
          <div class="col-sm-10">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>

            <div><img [src]="menfronturl" *ngIf="menfronturl else elseBlock_men" style="width: 100px;height: 150px;"></div>
            <p>
              <input type="file" (change)="onselectFile1($event,1)">
            </p>
            <ng-template #elseBlock_men>
              <div *ngIf="MenFront_Photo">
              <img src="assets/img/{{productcategoryfolder}}/{{MenFront_Photo}}" style="width: 100px;height: 150px;">
            </div>
            </ng-template>
          </div>
        </div>

        <div class="col">
          <label>Size Chart For Men :</label>
          <div class="col-sm-10">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div><img [src]="mensizecharturl" *ngIf="mensizecharturl; else elseBlock_menSize"
                style="width: 100px;height: 150px;"></div>
            <p>
              <input type="file" (change)="onselectFile4($event,4)">
            </p>
            <ng-template #elseBlock_menSize>
              <div *ngIf="SizeChartForMen">
              <img src="assets/img/size_chart/{{SizeChartForMen}}" style="width: 100px;height: 150px;">
            </div>
            </ng-template>
          </div>
        </div>

      </div>
    </div>


    <div class="col-md-12 roundedTextBox mb-3">
      <label>Men SVG Path:</label>
      <!-- <input type="text"  [(ngModel)]="Description" class="form-control mb-2"  formControlName="Description" placeholder="Enter Product Description"> -->
      <textarea rows="4" cols="43" type="text" [(ngModel)]="men_f_svgpath" class="form-control mb-2"
        formControlName="men_f_svgpath" placeholder="Enter SVG Path"></textarea>

    </div>


    <!-- --Women Specification-- -->


    <div class="col-md-12 roundedTextBox mb-0">
      <label><b>Women Product Specification :</b><a input type="button" class="btn list-tag"
          href="https://www.textfixer.com/html/html-list-generator.php">HTML</a></label>
      <textarea rows="4" cols="43" type="text" [(ngModel)]="WomenProduct_Description" class="form-control mb-2"
         formControlName="WomenProduct_Description"
        placeholder="Enter Product Specification"></textarea>
    </div>

    <div class="container py-5">
      <div class="row row-cols-2 row-cols-lg-2 mb-3">
        <div class="col">
          <label>Women Front Image :</label>
          <div class="col-sm-10">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div><img [src]="womenfronturl" *ngIf="womenfronturl; else elseBlock_women" style="width: 100px;height: 150px;">
            </div>
            <p>
              <input type="file" (change)="onselectFile5($event,5)">
            </p>
            <ng-template #elseBlock_women>
              <div *ngIf="WomenProduct_Photo">
              <img src="assets/img/{{productcategoryfolder}}/{{WomenProduct_Photo}}" style="width: 100px;height: 150px;">
            </div>
            </ng-template>
          </div>
        </div>


        <div class="col">
          <label>Size Chart For Women</label>
          <div class="col-sm-10">
            <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
            <div><img [src]="womensizecharturl" *ngIf="womensizecharturl; else elseBlock_womenSize"
                style="width: 100px;height: 150px;"></div>
            <p>
              <input type="file" (change)="onselectFile8($event,8)">
            </p>
            <ng-template #elseBlock_womenSize>
              <div *ngIf="SizeChartForWomen">
              <img src="assets/img/size_chart/{{SizeChartForWomen}}" style="width: 100px;height: 150px;">
            </div>
            </ng-template>
          </div>
        </div>

      </div>
    </div>

    <div class="col-md-12 roundedTextBox mb-0">
      <label>Women SVG Path:</label>
      <!-- <input type="text"  [(ngModel)]="Description" class="form-control mb-2" formControlName="Description" placeholder="Enter Product Description"> -->
      <textarea rows="4" cols="43" type="text" [(ngModel)]="women_f_svgpath" class="form-control mb-2"
        formControlName="women_f_svgpath" placeholder="Enter SVG Path"></textarea>
    </div>


    <!-- --Colour-- -->

    <!-- <div class="col-md-12 roundedTextBox mb-0">
      <br>
      <label><b>Select Color :</b></label>
      <div class="container py-5">
        <div class="row row-cols-2 row-cols-lg-5 mb-1 colourclass">
          <div class="col" *ngFor="let data of ColorData"  formControlName="ColorId"
            [(ngModel)]="ColorId" ngDefaultControl>
              <label>
                <input type="checkbox"  style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
                (change)="onSelectChange($event)" />
                     {{data.ColorName}}
                 <li style="margin-left: 5px;" class="color-box-product" rel="tooltip" [ngStyle]="{'background-color':data.Description}" data-mobile=""
                  data-create="false">
                </li>               
              </label>

            
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-12 roundedTextBox mb-0">
      <br>
      <label><b>Select Color :</b></label>
      <div class="container py-5">
        <div class="row row-cols-2 row-cols-lg-5 mb-1 colourclass">
          <div class="col" *ngFor="let data of ColorData" formControlName="ColorId" 
            ngDefaultControl>
            <label>
              <input type="checkbox" style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
              [checked]="ColorId.includes(data.Lookup_Details_Id)" (change)="onSelectChange($event)"/>
              {{data.ColorName}}
              <li style="margin-left: 5px;" class="color-box-product" rel="tooltip"
                [ngStyle]="{'background-color':data.Description}" data-mobile="" data-create="false">
              </li>
            </label>
          </div>
        </div>
      </div>
    </div>



    <!-- --Size-- -->


    <!-- <div class="col-md-12 roundedTextBox mb-0">
      <label><b>Select Size :</b></label>
      <div class="container">
        <div class="row  row-cols-lg-7 g-4" style="width: 600px;">
          <div class="col" data-wow-delay="0.1s" *ngFor="let data of SizeData" formControlName="SizeId"
            [(ngModel)]="SizeId" ngDefaultControl>
            <label>
              <input type="checkbox" style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
                (change)="onSelectSizeChange($event)" />
              {{data.Description}}
            </label>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-md-12 roundedTextBox mb-0 sizewidth_length">
      <label><b>Select Size :</b></label>
      <div class="container">
        <div class="row  row-cols-lg-7 g-4">
          <div class="col" data-wow-delay="0.1s" *ngFor="let data of SizeData" formControlName="SizeId"
            ngDefaultControl>
            <label>
              <input type="checkbox" style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
              [checked]="SizeId.includes(data.Lookup_Details_Id)" (change)="onSelectSizeChange($event)" />
              {{data.Description}}
            </label>
          </div>
        </div>
      </div>
    </div>
        <div class="col-2 roundedTextBox mb-0 sizewidth_length_mobile">
          <label><b>Select Size :</b></label>
          <div class="container">
        <div class="row  row-cols-lg-3 g-4">
          <div class="col" data-wow-delay="0.1s" *ngFor="let data of SizeData" formControlName="SizeId"
            ngDefaultControl>
            <label>
              <input type="checkbox" style.color="{{data.Description}}" value="{{data.Lookup_Details_Id}}"
              [checked]="SizeId.includes(data.Lookup_Details_Id)" (change)="onSelectSizeChange($event)" />
              {{data.Description}}
            </label>
          </div>
        </div>
      </div>
    </div>

    <div class="buttons">
      <button type="button" (click)="addProductDetails()" *ngIf="product.Product_Id==0"
        class="btn btn-primary">Add</button>
      <button type="button" (click)="updateProductDetails()" *ngIf="product.Product_Id!=0"
        class="btn btn-primary">Update</button>
    </div>
  </form>
</div>