.header-top{
    background-color: #fff;
}
.mobile {
    background-color: #fff;
}

.announcement-bar {
    font-size: 13.45px;
    position: relative;
    text-align: center;
    background-color: #0f0f0f;
    color: #fff;
    padding: 5px 0;
}

.announcement-bar-mobile {
    font-size: 14px;
    position: relative;
    text-align: center;
    background-color: #1b2032;
    color: #fff;
    padding: 5px 0px;
    line-height: 15px;
}
.search-btn{
    background: none;border: 0;
}


@media (min-width: 769px) and (max-width: 2560px) 
{
    .js-search{
        display: none;
    }
    .header-top{
        width: 28%;
    }
    .mobile {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 768px) 
{

    [type="search"] {
        outline-offset: -2px;
        -webkit-appearance: textfield;
        font-size: 15px;
        padding: 2px 10px;
        width: 11rem;
        border-radius: 10px;
        background: white;
        border: 1px solid #0f0f0f57;
        margin: 3px 0px 0 0;
    }
    .header-top{
        font-size: 13px;
        text-align: center;
    }
    .device {
        display: none;
    }
    .menu {
         font-size: 0.75rem
    }
    .search-btn{
        display: none;
    }
    .search-box{
        text-align: center;
    }
    .main_logo{
        width: 148px;
    }
    .search-text{
        font-size: 12px;
    }
    .category_menubar{
        font-size: 12px;
    }
} 
@media (min-width: 765px) and (max-width: 768px) {
.navbar .navbar-brand {
    color: #344767;
    font-size: 0.875rem;
    position: relative;
    left: 190px;
}
}
/* new nav css */
/* 
@media (min-width: 320px) and (max-width: 768px) {
.desktop-view {
    padding: 0;
    display: none !important;
}}

@media (min-width: 769x) and (max-width: 2560px) {
.mobile-view{
    display: none !important;
}
} */




@media (min-width: 320px) and (max-width: 425px){
.navbar-toggler-icon {
    width: 1rem;
    height: 1rem;
    position: relative;
    /* left: 80px; */
    /* border: 1px solid #d9caca; */
    /* padding: 20px; */
    border-radius: 5px;
}
}

/* input[type=text] {
    position: relative;
    padding: 15px 40px 15px 20px;
    width: 20px;
    color: #525252;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: 100;
    letter-spacing: 2px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(to right, #FFFFFF 0%, #464747 #F9F9F9 100%);
    transition: width 0.4s ease;
    outline: none;
  }
  input[type=text]:focus {
    width: 300px;
  } */

  .searchbar{
        margin-bottom: auto;
        margin-top: auto;
        height: 35px;
        border-radius: 10px;
        padding: 3px 3px;
        font-size: 12px;
    }

    .search_input{
        color: #0f0f10;
        border: 0;
        outline: 0;
        background: none;
        width: 0;
        caret-color:transparent;
        line-height: 40px;
        transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
        padding: 0px 10px;
        width: 215px;
        caret-color: red;
        transition: width 0.4s linear;
        border: 1px solid gray;
        border-radius: 10px;
        height: 28px;
        vertical-align: middle;
        margin: 0 auto;
    }

    .searchbar:hover > .search_icon{
        background: white;
        color: #e74c3c;
    }

    .search_icon{
        height: 26px;
        width: 31px;
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        color: #282222;
        text-decoration: none;
    } 
   /* Dropdown Button */
/* .dropbtn a  {
    background-color: white;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
} */

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
    /* padding:4px 20px; */
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 4px 20px;
    text-decoration: none;
    display: block;
    height: 38px;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: white;
}

