.announcement-bar {
    font-size: 14.45px;
    position: relative;
    text-align: center;
    background-color: #0f0f0f;
    color: #fff;
    padding: 10px 0;
}
.search-btn{
    background: none;border: 0;
}

@media (min-width: 1024px) and (max-width: 2560px) 
{
    .header-top{
        width: 28%;
    }
    .mobile {
        display: none;
    }
}

@media (min-width: 320px) and (max-width: 425px) 
{
    .header-top{
        font-size: 13px;
        text-align: center;
    }
    .device {
        display: none;
    }
    .menu {
         font-size: 0.75rem
    }
    .search-btn{
        display: none;
    }
    .announcement-bar{
        display: none; 
    }
    .search-box{
        text-align: center;
    }
    .mobile{
        padding: 0px;
    }
    .main_logo{
        width: 148px;
    }
    .search-text{
        font-size: 12px;
    }
    .category_menubar{
        font-size: 12px;
    }
} 