.map_iframe
{
    width: 100%;
    /* height: 500px; */
}
.img-logo{
    width: 25px;
    height: 25px;
    margin:5px;
    border-radius: 5px;
    border: 1px solid #dbd6d6;
}
@media (min-width: 320px) and (max-width: 425px) 
{
    .map_iframe{
        width: 100%;
        /* height: 270px; */
    }

}

.form-control {
    
    margin-bottom: 0 !important;
}
