<div class="d-flex justify-content-center">
    
    <div class="spinner-border" role="status">
        <span class="sr-only" id="loading"></span>
    </div>
</div>
    <!-- Page Header start-->
    <app-navbar></app-navbar>
    <!-- Page Header End -->

    <head>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    </head>
    <!-- Contact Start -->
    <body>
    <div class="container-xxl header_bs_mo">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-3">Contact Us</h1>
            </div>
          
            <div class="row g-5 justify-content-center">
                <div class="col-lg-6 col-md-12 col-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="container-xxl px-0 wow fadeIn" data-wow-delay="0.1s" style="margin-bottom: -6px;">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3770.114008355232!2d72.84687901490155!3d19.10265378707256!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be7c9b4fff9cf39%3A0xdb6c36beb5790add!2sVastra!5e0!3m2!1sen!2sin!4v1599671238001!5m2!1sen!2sin" 
                        class="map_iframe" width="500" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
                    <p class="mb-4 color bold">Please fill the below form. We will get in touch with you soon.</p>

                    <!-- <form #userForm="ngForm" (ngSubmit)="onSubmit(userForm)"> -->
                 <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
                    <div class="row g-3">
                        <div class="col-md-6">
                        <div class="form-group">
                          <label for="name">Name</label>
                          <input type="text" class="form-control" formControlName="name"  name="name" placeholder="Your Name">
                          <div *ngIf="submitted && formControl.name.errors" class="text-danger">
                            <div *ngIf="formControl.name.errors.required">Name is required.</div>
                        </div>
                        </div>
                        </div>
                          
                        <div class="col-md-6">
                        <div >
                          <label for="email">Email</label>
                          <input type="email"  class="form-control"  name="email"   formControlName="email" placeholder="Your Email">
                          <div *ngIf="submitted && formControl.email.errors" class="text-danger">
                            <div *ngIf="formControl.email.errors.required">Email is required.</div>
                            <div *ngIf="formControl.email.errors.pattern">
                                Email is not valid,Please Try With Valid Email.
                            </div> 
                        </div>
                        </div>
                        </div>

                        <div class="col-md-12">
                        <div >
                          <label for="subject">Subject</label>
                          <input type="text"  class="form-control" name="subject"   formControlName="subject"  placeholder="Subject">
                          <div *ngIf="submitted && formControl.subject.errors" class="text-danger">
                            <div *ngIf="formControl.subject.errors.required">subject is required.</div>
                        </div>
                        </div>
                        </div>

                        <div class="col-md-12">
                        <div >
                          <label for="message">Message</label>
                          <textarea name="message" class="form-control" placeholder="Leave a message here" formControlName="message"  style="height: 150px"></textarea>
                          <div *ngIf="submitted && formControl.message.errors" class="text-danger">
                            <div *ngIf="formControl.message.errors.required">Message is required.</div>
                        </div>
                        </div>
                        </div>

                        <div class="col-12">
                        <button class="btn btn-primary rounded-pill py-3 px-5"  type="submit">Send Message</button>
                        </div>
                    </div>
                </form> 
                   
                    <!-- <form>
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="name" placeholder="Your Name">
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" id="email" placeholder="Your Email">
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="subject" placeholder="Subject">
                                    <label for="subject">Subject</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 200px"></textarea>
                                    <label for="message">Message</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary rounded-pill py-3 px-5" type="submit">Send Message</button>
                            </div>
                        </div>
                    </form> -->
                    <!-- <form [formGroup]="userForm" (ngSubmit)="submit()">
        
                        <div class="form-group">
                            <label for="name">Name</label>
                            <input 
                                formControlName="name"
                                id="name" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f['name'].touched && f['name'].invalid" class="alert alert-danger">
                                <div *ngIf="f['name'].errors && f['name'].errors['required']">Name is required.</div>
                                <div *ngIf="f['name'].errors && f['name'].errors['minlength']">Name should be 3 character.</div>
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input 
                                formControlName="email"
                                id="email" 
                                type="text" 
                                class="form-control">
                            <div *ngIf="f['email'].touched && f['email'].invalid" class="alert alert-danger">
                                <div *ngIf="f['email'].errors && f['email'].errors['required']">Email is required.</div>
                                <div *ngIf="f['email'].errors && f['email'].errors['email']">Please, enter valid email address.</div>
                            </div>
                        </div>
                         
                        <div class="form-group">
                            <label for="body">Subject</label>
                            <textarea 
                                formControlName="subject"
                                id="subject" 
                                type="text" 
                                class="form-control">
                            </textarea>
                            <div *ngIf="f['subject'].touched && f['subject'].invalid" class="alert alert-danger">
                                <div *ngIf="f['subject'].errors && f['subject'].errors['required']">Please, enter subject.</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="body">Message</label>
                            <textarea 
                                formControlName="message"
                                id="message" 
                                type="text" 
                                class="form-control">
                            </textarea>
                            <div *ngIf="f['message'].touched && f['message'].invalid" class="alert alert-danger">
                            <div *ngIf="f['message'].errors && f['message'].errors['required']">Please, enter message.</div>
                            </div>
                        </div>
                        
                        <button class="btn btn-primary" [disabled]="userForm.invalid" type="submit">Submit</button>
                    </form> -->
                </div>
            </div>

            <section class="pt-5">
                <div class="container">
                    <div class="row">
                                  <div class="col-lg-3 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                                      <div class="services-block-three-new pointer">
                                          <div href="#">
                                              <div class="pb-2">
                                                  <i class="fa fa-map-marker"></i>
                                              </div>
                                              <h4>Vastra 7, Gautam Society 42, Mahant Road, opp HDFC Bank, Vile Parle (EAST) Mumbai - 400057</h4>
                                              <!-- <p class="xs-font-size13 xs-line-height-22">Exhaustive technology of implementing multi purpose projects is putting your project</p> -->
                                          </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                                      <div class="services-block-three-new pointer">
                                          <div href="#">
                                              <div class="pb-4">
                                                  <i class="fa fa-phone-alt"></i>
                                              </div>
                                              <!-- <h4>+91 9820146569</h4> -->
                                              <h4>+91 8356-959009</h4>
                                               </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                                      <div class="services-block-three-new pointer">
                                          <div target="_blank" href="https://mail.google.com/">
                                              <div class="pb-4">
                                                  <i class="fa fa-envelope"></i>
                                              </div>
                                              <!-- <h4>shailesh.vastra@gmail.com</h4> -->
                                              <h4>hello@vastraindia.com</h4>
                                            </div>
                                      </div>
                                  </div>
                                  <div class="col-lg-3 col-md-6 margin-30px-bottom xs-margin-20px-bottom">
                                      <div class="services-block-three-new pad pointer">
                                          <div href="#" >
                                              <div class="pb-4">
                                                  <i class="fa fa-thumbs-up"></i>
                                              </div>
                                              <!-- <div class=" pad-0">
                                                <span><a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-twitter" style="font-size: 20px;"></i></a></span> 
                                                <span><a class="btn btn-square rounded-circle me-1" href=><i class="fab fa-facebook-f" style="font-size: 20px;"></i></a></span> 
                                                <span> <a class="btn btn-square rounded-circle me-1" href=""><i class="fab fa-youtube" style="font-size: 20px;"></i></a></span> 
                                                <span> <a class="btn btn-square rounded-circle me-0" href=""><i class="fab fa-linkedin-in" style="font-size: 20px;"></i></a></span> 
                                              </div> -->
                                              <div _ngcontent-lgr-c66="" class=" pad-0">
                                                <a _ngcontent-lgr-c66="" target="_blank" href="https://instagram.com/insta_vastraindia?igshid=MjEwN2IyYWYwYw=="  ><img src="assets/img/social-medialogo/ig-icon.jfif" class="img-logo" alt="instagram-icon"></a>
                                                <a _ngcontent-lgr-c66="" target="_blank" href="https://www.facebook.com/Vastraindia?mibextid=LQQJ4d"><img src="assets/img/social-medialogo/facebook-icon.png" class="img-logo" alt="facebook-icon"></a>
                                                <a _ngcontent-lgr-c66="" target="_blank" href="https://g.co/kgs/UqxQ7C"  ><img src="assets/img/social-medialogo/gb-icon.jpg" class="img-logo" alt="google-business-icon"></a>
                                                <a _ngcontent-lgr-c66="" target="_blank" href=""  ><img src="assets/img/social-medialogo/youtube-icon.png" class="img-logo" alt="youtube-icon"></a>
                                                
                                                
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                                <!-- end -->
                    </div>
                </div>
            </section>
        </div>
    </div>
    </body>
    <!-- Contact End -->

    <!-- Page Footer start-->
    <app-footer></app-footer>
    <!-- Page Footer End -->

   