.label-name {
  font-size: 11px;
    line-height: 11px;
    height: 22px;
    position: relative;
    margin-top: -14px;
    margin-left: -23px;
    width: 100%;
    display: -webkit-box ! important;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    color: #525252;
    font-family: "Gilroy Medium", sans-serif;
    word-wrap: normal;
}
/* change vishal */
.customize {
  width: 125%;
  height: 750px;
}

.tipping-label-name {
  font-size: 11px;
  line-height: 11px;
  height: 65px;
  position: relative;
  margin-top: 8px;
  margin-left: 0px;
  width: 100%;
  display: -webkit-box ! important;
  /* -webkit-line-clamp: 1; */
  -webkit-box-orient: vertical;
  color: #525252;
  font-family: "Gilroy Medium", sans-serif;
  word-wrap: normal;

  /* margin-top: 8px;
    margin-left: 0px; */

}

/* .header_bs_mo_Similar{
  padding-top: 3rem !important;
  padding-bottom: 1rem !important;
}
.product-item-1{
  margin-left: 350px;
}

.product-item-2{
  margin-left: 185px;
}

.product-item-3{
  margin-left:  20px;
} */

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: 0 !important;
  margin-right: auto;
}

.color-box {
  width: 38px;
  height: 38px;
  display: inline-block;
  margin: 12px -25px;
  padding: 0 0px 0 10px;
  cursor: pointer;
  border: 1px solid #f3f2f2;
  position: relative;
  border-radius: 4px;
}

.color-box-tipping {
  margin-left: -22px;
}

#product-svg {
  position: absolute;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
}

#product-shape {
  fill: #DBED64;
}

#background-image {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
}

.label-name-similar a {


  font-size: 14px;
  height: 40px;
  line-height: 20px;
  text-align: center;
  overflow: hidden !important;
  width: 100%;
  display: -webkit-box ! important;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
}


.colors {
  display: flex;
  /* position: fixed; */
  bottom: 2em;
  right: 2em;
  z-index: 3;
}

.productcolor {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  border: 2px solid #aaa;
  cursor: pointer;
}



ul {
  float: left;
  width: 12rem;
}

ul li {
  list-style-type: none;
  margin: bottom 10px;
  font-weight: 400;
}

ol,
ul {
  padding-left: 24px !important;
}

ul li img {
  width: 150px;
  padding: 5px;
  border: 1px solid #ebebeb;
}

.big_img {
  float: left;
  margin: top 20px;
  margin-left: 10px;
}

#id_0 :hover {
  background-color: #DBED64;
}


.pad-0 {
  padding: 0 !important;
}

.genderButtonBlock {
  padding: 0 !important;
}

.product-name-new {
  margin: 0;
}

.detail-pro-dec {
  font-size: 15px;
  font-weight: 400;
}

.big_img {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.slick-list {
  padding: 0 20% 0 0 !important;
}

.slick-slider {
  /* width: 88%; */
  margin: 20px 0 0 0px;
  /* background: rgb(255, 255, 255); */
  position: relative;
  margin-top: -2px;
}

body .slick-prev,
body .slick-next {
  height: 45px;
  width: 40px;
  background: rgb(252, 249, 249) !important;
  z-index: 100;
}

.custumise-img-model {
  width: 100%;
}

.other_btn {
  background-color: #f1f3f3;
  padding: 10px 20px;
  border: 1px solid #bec0c5;
}

.other_btn:first-child {
  margin-right: 20px;
}

.genderButtonBlock {
  margin-top: 12px;
}

.genderButton {
  padding: 10px 40px;
  display: inline-block;
  border-radius: 5px;
  font-size: 15px;
  background-color: #202A45;
  color: #fff;
}

.genderButton:first-child {
  margin-right: 20px;
}

.genderButton.active {
  background-color: #202A45;
  color: #fff;
}

.genderButton:not(.active).genderButton:hover {

  outline: 3px solid #aaa;
  cursor: pointer;
}

.noteMsg {
  font-size: 14px;
  color: #9b0a0a;
}



@media (min-width: 320px) and (max-width: 374px) {
  .label-name {
    font-size: 11px;
      line-height: 11px;
      height: 22px;
      position: relative;
      margin-top: -14px;
      margin-left: -36px;
      width: 100%;
      display: -webkit-box ! important;
      /* -webkit-line-clamp: 2; */
      -webkit-box-orient: vertical;
      color: #525252;
      font-family: "Gilroy Medium", sans-serif;
      word-wrap: normal;
  }
  /* vishal */
  .noteMsg {
    font-size: 12px;
    color: #9b0a0a;
  }

  .lp-view {
    display: none;
  }

  .dec-text-new {
    font-size: 18px;
    padding: 5px 10px;
  }

  .variationHead {
    font-size: 18px;
  }

  .pro-small-img {
    display: flex !important;
    padding: 0;
  }

  /* vishal */
  .slick-list-color {
    /* position: relative; */
    /* overflow: hidden; */
    /* display: block;
    margin: 0; */
    padding-left: 15px;
  }

  .big_img {
    width: 100% !important;
    height: auto;
  }

  .pro-small-img li img {
    width: 138px;
  }

  .pro-detail-page-top {
    padding: 0 0 0 17px !important;
  }


  .pro-detail-page-top {
    padding: 0 23px !important
  }

  .color-box {

    padding: 0 15px 0 10px;
    margin: 20px -36px !important
  }

  .customize{
    width:100%;
    height: 485px;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .label-name {
    font-size: 11px;
    line-height: 11px;
    height: 22px;
    position: relative;
    margin-top: -14px;
    margin-left: -36px;
    width: 100%;
    display: -webkit-box ! important;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    color: #525252;
    font-family: "Gilroy Medium", sans-serif;
    word-wrap: normal;
  }
  .label-name-similar a {
    -webkit-line-clamp: 1;
    line-height: 55px};

  /* vishal */
  .noteMsg {
    font-size: 12px;
    color: #9b0a0a;
  }

  .slick-slider {
    right: -4px;
  }

  /* vishal */
  .slick-list-color {
    /* position: relative; */
    /* overflow: hidden; */
    /* display: block;
    margin: 0; */
    padding-left: 20px;
    height: 85px;
  }

  .color-box {
    padding: 0 15px 0 10px;
    /* margin: 20px -40px !important; */
    /* by v */
    margin: 20px -42px !important;
  }

  .dec-text-new {
    font-size: 18px;
    padding: 5px 10px;
  }

  .pro-small-img {
    display: flex !important;
    padding: 0;
  }


  .pro-small-img li img {
    width: 138px;
  }

  .py-9 {
    padding-top: 6rem !important;
  }

  .pro-detail-page-top {
    padding: 0 23px !important
  }

  .variationHead {
    font-size: 18px;
  }

  .label-name {
    /* margin-left: -37px;-45 */
    margin-left: -42px;
    height: 7px;
    margin-top: -23px;
  }

  .customize{
    width: 98%;
    height: 565px;
    margin-left: 4px;
  }

}

@media (min-width:425px) and (max-width: 600px) {
  .label-name {
    font-size: 11px;
    line-height: 11px;
    height: 22px;
    position: relative;
    margin-top: -14px;
    margin-left: -34px;
    width: 100%;
    display: -webkit-box ! important;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    color: #525252;
    font-family: "Gilroy Medium", sans-serif;
    word-wrap: normal;
  }
  /* vishal */
  .noteMsg {
    font-size: 12px;
    color: #9b0a0a;
  }

  /* vishal */
  .slick-list-color {
    /* position: relative; */
    /* overflow: hidden; */
    /* display: block;
    margin: 0; */
    padding-left: 20px;
    height: 95px;
  }

  .slick-slider {
    right: 4px;
  }

  .color-box {
    padding: 0 15px 0 10px;
    margin: 23px -35px !important;
  }

  .dec-text-new {
    font-size: 18px;
    padding: 15px 9px
  }

  .variationHead {
    font-size: 18px;
  }

  .pro-small-img {
    display: flex !important;
    padding: 0;
  }

  .big_img {
    width: 100% !important;
    height: auto;
  }

  .pro-small-img li img {
    width: 138px;
  }

  .pro-detail-page-top {
    padding: 0 26px !important;
  }


  .py-9 {
    padding-top: 6rem !important;
  }

  .small_img {
    order: 2 !important;
  }

  .big_img {
    order: 1 !important;
  }

  .label-name {
    margin-left: -37px;
    height: 7px;
    margin-top: -21px;
  }

  .customize{
    width:87%;
    margin:25px;
    height: 550px;
  }

}

@media (min-width:601px) and (max-width: 768px) {

  /* vishal */
  .noteMsg {
    font-size: 12px;
    color: #9b0a0a;
  }

  /* vishal */
  .slick-list-color {
    /* position: relative; */
    /* overflow: hidden; */
    /* display: block;
    margin: 0; */
    padding-left: 20px;
    text-align: center;
  }

  /* vishal */
  .label-name {
    font-size: 11px;
    line-height: 11px;
    height: 22px;
    position: relative;
    margin-top: -14px;
    margin-left: -2px;
    width: 100%;
    display: -webkit-box ! important;
    /* -webkit-line-clamp: 2; */
    -webkit-box-orient: vertical;
    color: #525252;
    font-family: "Gilroy Medium", sans-serif;
    word-wrap: normal;
  }

  .slick-slider {
    right: 16px;
  }

  .color-box {
    padding: 0 15px 0 10px;
    margin: 23px -99px !important;
  }

  .dec-text-new {
    margin-bottom: 15px;
  }
.customize{
  margin-left: -60px;
}
}

@media (min-width:769px) and (max-width: 1024px) {

  /* vishal */
  .noteMsg {
    font-size: 12px;
    color: #9b0a0a;
  }

  .pro-detail-page-top {
    padding: 0 0 0 50px !important;
  }

  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    font-size: 10px !important;
  }

  .dec-text-new {
    margin-bottom: 15px;
  }

  .site-header__search-input {
    width: 11rem !important;
  }
}

@media (min-width:601px) and (max-width: 2560px) {
  .mb-view {
    display: none;
  }

  .dec-text-new {
    margin: 10px;
  }

  .product-name-new {
    margin: 0px 10px;
  }

  .noteMsg {
    margin: 0px 10px;
  }
}


@media (min-width:601px) and (max-width: 769px) {
  .pro-detail-page-top {
    padding: 0 0 0 24px !important;
  }
}

@media (min-width:320px) and (max-width: 768px) {
  .pad-mob {
    padding-top: 10rem !important;
  }

  .breadcrumb-item {
    font-size: 0.70rem;
    padding: 0;
  }
}

/* new detail */


.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.btn {
  border-radius: 0px !important;
}

/* #myModal--effect-zoomIn.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 120px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
} */

.customize-model-body {
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  height: 610px !important;
}

.modal.show .customize-model-dialog {
  transform: none;
  width: 480px !important;
}


/* SVG settings */
@media (min-width: 320px) and (max-width: 374px) {
  .customize-model-body {
    height: auto !important;
  }

  .lp-view {
    display: none;
  }

  .mm-view {
    display: none;
  }

  .big_img {
    width: 248px !important;
    height: auto;
  }

  .modal.show .customize-model-dialog {
    transform: none;
    width: auto !important;
    margin: 17px;
  }
}

@media (min-width:375px) and (max-width: 600px) {
  .customize-model-body {
    height: auto !important;
  }

  .modal.show .customize-model-dialog {
    transform: none;
    width: auto !important;
  }

  .big_img {
    width: 327px !important;
    height: auto;
  }

  .mb-view {
    display: none;
  }

  .lp-view {
    display: none;
  }

  .modal.show .customize-model-dialog {
    transform: none;
    width: auto !important;
    margin: 5px;
  }
}

@media (min-width:601px) and (max-width: 2560px) {
  .mb-view {
    display: none;
  }

  .mm-view {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 600px) {
  /* .product-item-1{
    margin-left: 70px;
  }

  .product-item-2{
    margin-left: 0px;
  }
  .product-item-3 {
      margin-left: 0px;
} */

  .tag {
    position: absolute;
    left: 0;
    bottom: 10%;
  }

  .card {
    width: unset;
  }

  .pro-img-hw {
    height: auto !important;
  }
}


/* .testi-review p{
overflow-y: scroll;
height: 400px;
} */
.pro-img-hw {
  /* height: 428px; */
  border: 1px solid #f1f1f1;
  border-radius: 15px;
  cursor: pointer;
  width: 100%;
}

.announcement-bar {
  font-size: 14.45px;
  position: relative;
  text-align: center;
  background-color: #0f0f0f;
  color: #fff;
  padding: 10px 0;
  text-transform: capitalize;
}

.blog-heading {
  height: 66px;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box ! important;

}

/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
  width: 60px;
  height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
  transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
  background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
  color: #FFFFFF !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
  color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
  margin: 0 12px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--dark);
  border: 2px solid var(--primary);
  border-radius: 50px;
  font-size: 18px;
  transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
  color: #FFFFFF;
  background: var(--primary);
}

.testimonial-carousel .owl-carousel .owl-item img {
  display: -webkit-inline-box !important;
}

.testimonial-carousel .testimonial-item .quote-icon-left,
.testimonial-carousel .testimonial-item .quote-icon-right {
  color: #ffd565;
  font-size: 26px;
  line-height: 0;
}

.bi::before,
[class^="bi-"]::before,
[class*=" bi-"]::before {
  display: inline-block;
  font-family: bootstrap-icons !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: -.125em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.card {
  position: relative;
  display: flex;
  width: 350px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid #d2d2dc;
  border-radius: 11px;
  -webkit-box-shadow: 0px 0px 5px 0px rgb(249, 249, 250);
  -moz-box-shadow: 0px 0px 5px 0px rgba(212, 182, 212, 1);
  box-shadow: 0px 0px 5px 0px rgb(161, 163, 164);
}

.testimonial .card-body {
  padding: 1rem 1rem;
}

.testimonial.card-body {
  flex: 1 1 auto;
  padding: 1.25rem
}

.testimonialp {
  font-size: 0.875rem;
  margin-bottom: .5rem;
  line-height: 1.5rem
}

.testimonial h4 {
  line-height: .2 !important;
}

.testimonial .profile {
  margin-top: 16px;
  margin-left: 11px;
}

.testimonial .profile-pic {
  width: 58px;
}

.testimonial .cust-name {
  font-size: 16px;
  color: #0d206c;
  margin-bottom: 6px;
  letter-spacing: 0.5px;
}

.testimonial.cust-profession {
  font-size: 10px;
}



.testimonial.items {
  width: 90%;
  margin: 0px auto;
  margin-top: 100px
}

.testimonial.slick-slide {
  margin: 10px
}

.left-side {
  float: left;
  width: 25%;
  padding: 1%;
}


.content-testi {
  width: 75%;
  margin: 0 auto;
}

.wrapper {
  max-width: 700px;
}

.wrapper .float-image {
  margin: 10px;
}

.wrapper .float-image.left {
  float: left;
}

.testi-review p {
  overflow-y: scroll !important;
  height: 150px !important;
}

.testi-review p::-webkit-scrollbar {
  width: 6px;
}

.testi-review p::-webkit-scrollbar-track {
  background-color: #f36363;
  border-radius: 100px;
}

.testi-review p::-webkit-scrollbar-thumb {
  background-color: rgb(75, 71, 71);
  border-radius: 100px;
}

.testimonial .card-body {
  height: 335px;
}