.label-name{
  font-size: 11px;
    line-height: 11px;
    text-align: center;
    margin-top: 4px;
    color: #525252;
    font-family: "Gilroy Medium", sans-serif;
}

.colorbox{
  height: 51px;
  margin-top: 10px;
}
#product-svg {
  position: absolute;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
}

#product-shape {  
  fill: #DBED64;
}

#background-image {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
} 

.colors {
  display: flex;
  /* position: fixed; */
  bottom: 2em;
  right: 2em;
  z-index: 3;
}

.productcolor {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #aaa;
  cursor: pointer;
}      

ul{float: left; width: 12rem;}
ul li{list-style-type: none; margin: bottom 10px; font-weight: 400;}
ul li img{width: 150px; padding: 5px; border: 1px solid #ebebeb; }
.big_img{float:left; margin: top 20px; margin-left: 10px; }
#id_0 :hover{
background-color: #DBED64;
}


.pad-0{
  padding: 0!important;
}
.genderButtonBlock {
  padding: 0!important;
}
.product-name-new{margin: 0;}

.detail-pro-dec{    font-size: 15px;
  font-weight: 400; }



.big_img {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.slick-slider{
  /* width: 88%; */
  margin: 20px 0 0 0px;
  background: rgb(255, 255, 255);
  font-variant: pos;
  position: relative;
  right: 50px;
}



body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: rgb(252, 249, 249) !important;
  z-index: 100;
}

.genderButton:focus:not(:focus-visible) {
  /* outline: 0; */
  background: #3f52a1 !important;
  border: none;
  color: #fff;
}

.genderButton:hover {
  /* outline: 0; */
  background: #3f52a1 !important;
  border: none;
  color: #fff;
}

.genderButton:active {
  /* outline: 0; */
  background: #3f52a1 !important;
  border: none;
  color: #fff;
}
@media (min-width: 320px) and (max-width: 374px) {
.pro-small-img{
  display: flex !important;
  padding: 0;
}

.big_img{width: 100%!important;}
.pro-small-img li img {
  width: 138px;}
  .pro-detail-page-top{
    padding: 0 0 0 17px!important;
  }
}

@media (min-width: 375px) and (max-width: 424px) {
  .pro-small-img{
    display: flex !important;
    padding: 0;
  }
  .big_img{width: 100%!important;}
  .pro-small-img li img {
    width: 138px;}
    .pro-detail-page-top{
      padding: 0 0 0 17px!important;
    }
    .py-9 {
      padding-top: 6rem !important;
  }

}
  @media (min-width:425px) and (max-width: 600px) {
    .pro-small-img{
      display: flex !important;
      padding: 0;
    }
    
    .big_img{width: 100%!important;}
    .pro-small-img li img {
      width: 138px;}
      .pro-detail-page-top{
        padding: 0 0 0 37px!important;
      }

      .color-box {
       
        margin: 20px 84px;}
      .py-9 {
        padding-top: 6rem !important;
    }
    
    .small_img{
      order: 2 !important;
    }
    .big_img{
      order: 1 !important;
    }
    }

 
/* new detail */
