.label-name{
  font-size: 11px;
    line-height: 11px;
    text-align: center;
    margin-top: 4px;
    color: #525252;
    font-family: "Gilroy Medium", sans-serif;
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left:0!important;
  margin-right: auto;
}
.colorbox{
  height: 51px;
  margin-top: 10px;
}
#product-svg {
  position: absolute;
  z-index: 2;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50%;
  mix-blend-mode: multiply;
}

#product-shape {  
  fill: #DBED64;
}

#background-image {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 1;
} 

.colors {
  display: flex;
  /* position: fixed; */
  bottom: 2em;
  right: 2em;
  z-index: 3;
}

.productcolor {
  height: 36px;
  width: 36px;
  margin-left: 0.5em;
  border-radius: 18px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
  border: 2px solid #aaa;
  cursor: pointer;
}      



ul{float: left; width: 12rem; }
ul li{list-style-type: none; margin: bottom 10px; font-weight: 400;}
ol,ul {padding:0px 18px !important ;}
ul li img{width: 150px; padding: 5px; border: 1px solid #ebebeb; }
.big_img{float:left; margin: top 20px; margin-left: 10px; }
#id_0 :hover{
background-color: #DBED64;
}


.pad-0{
  padding: 0!important;
}
.genderButtonBlock {
  padding: 0!important;
}
.product-name-new{margin: 0;}

.detail-pro-dec{    font-size: 15px;
  font-weight: 400; }



.big_img {
  float: left;
  margin-top: 0px;
  margin-left: 0px;
}

.slick-slider{
  /* width: 88%; */
  margin: 20px 0 0 0px;
  /* background: rgb(255, 255, 255); */
  font-variant: pos;
  position: relative;
  right: 23px;
}

body .slick-prev, 
body .slick-next {
  height: 45px;
  width: 40px;
  background: rgb(252, 249, 249) !important;
  z-index: 100;
}

.custumise-img-model{
  width: 100%;
}
.other_btn{
  background-color: #f1f3f3;
  padding: 10px 20px;
  border: 1px solid #bec0c5;
}

.other_btn:first-child {
  margin-right: 20px;
}

.genderButtonBlock {
  margin-top: 12px;
}
  .genderButton {
    padding: 10px 40px;
    display: inline-block;
    border-radius: 5px;
    font-size: 15px;
    background-color: #202A45;
    color: #fff;
  }
  .genderButton:first-child {
      margin-right: 20px;
    }
    .genderButton.active {
      background-color: #202A45;
      color: #fff;
    }
    .genderButton:not(.active).genderButton:hover {
       
        outline: 3px solid #aaa;
        cursor: pointer;
      }
    



@media (min-width: 320px) and (max-width: 374px) {
  .lp-view {
    display: none;
  }
  .dec-text-new{
    font-size: 18px;
    padding: 15px 0 15px 0;
  }
  .variationHead{
    font-size: 18px;
  }
.pro-small-img{
  display: flex !important;
  padding: 0;
}

.big_img{width: 100%!important;}
.pro-small-img li img {
  width: 138px;}
  .pro-detail-page-top{
    padding: 0 0 0 17px!important;
  }

 
  .pro-detail-page-top {
    padding: 0 0 0 33px!important;
}

.color-box {
   
  padding: 0 15px 0 10px;
  margin: 20px -34px !important;

 
}
}

@media (min-width: 375px) and (max-width: 424px) {
  
  .slick-slider {
    right: 16px;
  }
  
  .color-box { 
    padding: 0 15px 0 10px;
    margin: 20px -29px !important;
  }

  .dec-text-new{
    font-size: 18px;
    padding: 15px 0 15px 0;
  }
  .pro-small-img{
    display: flex !important;
    padding: 0;
  }
  

  .pro-small-img li img {
    width: 138px;}
  
  .py-9 {
      padding-top: 6rem !important;
  }

  .pro-detail-page-top{
    padding: 0 0 0 38px!important;
  }

  .variationHead{
    font-size: 18px;
  }

}
  @media (min-width:425px) and (max-width: 600px) {

    .slick-slider {
      right: 16px;
  }
  .color-box {
     
    padding: 0 15px 0 10px;
   margin: 23px -32px !important;
  
   
  }
    .dec-text-new{
      font-size: 18px;
      padding: 15px 0 15px 0;
    }

    .variationHead{
      font-size: 18px;
    }
    .pro-small-img{
      display: flex !important;
      padding: 0;
    }
    
    .big_img{width: 100%!important;}
    .pro-small-img li img {
      width: 138px;}
      .pro-detail-page-top{
        padding: 0 0 0 37px!important;
      }

    
      .py-9 {
        padding-top: 6rem !important;
    }
    
    .small_img{
      order: 2 !important;
    }
    .big_img{
      order: 1 !important;
    }
   
    }

    @media (min-width:601px) and (max-width: 768px) {
    .slick-slider {
      right: 16px;
    }
    .color-box {
      padding: 0 15px 0 10px;
      margin: 23px -87px !important;
    }
    .dec-text-new {
      margin-bottom: 15px;
    }
  }

  @media (min-width:769px) and (max-width: 1024px) {
    .pro-detail-page-top{
      padding: 0 0 0 50px!important;
    }
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right:0;
      padding-left: 0;
      font-size: 10px !important;
    }
    .dec-text-new {
      margin-bottom: 15px;
    }
    .site-header__search-input {
      width: 11rem !important;
    }
  }
    
  @media (min-width:601px) and (max-width: 2560px) {
    .mb-view{
      display: none;
    }
    .dec-text-new {
      margin-bottom: 15px;
    }
  }


  @media (min-width:601px) and (max-width: 769px) {
    .pro-detail-page-top{
      padding: 0 0 0 24px!important;
    }
  }
  @media (min-width:320px) and (max-width: 768px) {
    .pad-mob{
      padding-top: 10rem !important;
    }
  
    .breadcrumb-item {
      font-size: 0.90rem;
      padding: 0;
    }

    .breadcrumb {
      padding: 0;
    }
}
/* new detail */


.modal-content {
  position: relative;
  background-color: #fff;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0;
  outline: 0;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, .5);
}

.btn {
  border-radius: 0px !important;
}

/* #myModal--effect-zoomIn.modal.fade .modal-dialog {
  -webkit-transform: scale(0.1);
  -moz-transform: scale(0.1);
  -ms-transform: scale(0.1);
  transform: scale(0.1);
  top: 120px;
  opacity: 0;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
} */

.customize-model-body{
  position: relative;
  flex: 1 1 auto;
  padding: var(--bs-modal-padding);
  height: 610px !important;
}

.modal.show .customize-model-dialog {
  transform: none;
  width: 480px !important;
}


/* SVG settings */
@media (min-width: 320px) and (max-width: 374px) {
  .customize-model-body{
    height: auto !important;
}
  .lp-view {
    display: none;
  }
  .mm-view {
    display: none;
  }
  .modal.show .customize-model-dialog {
    transform: none;
    width: auto !important;
  }  
}

@media (min-width:375px) and (max-width: 600px) {
  .customize-model-body{
    height: auto !important;
}
  .modal.show .customize-model-dialog {
    transform: none;
    width: auto !important;
  }  
  .big_img{
    width: 327px !important;
  }
  .mb-view {
    display: none;
  }
  .lp-view {
    display: none;
  }
}

@media (min-width:601px) and (max-width: 2560px) {
  .mb-view{
    display: none;
  }
  .mm-view {
    display: none;
  }
}