/* Option 2: Import via CSS */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");

/********** Template CSS **********/
:root {
    --primary: #c00b0b;
    --secondary: #270390;
    --light: #F7F8FC;
    --dark: #111111;
}


.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    margin-left: 23px !important;
    margin-right: auto;
}

.slick-slide img {
    border-radius: 5px;
    /* margin-left: -31px; */
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}


.mar-0{
    margin: 0.5rem 0 0.5rem 0rem;
    }

.bg-icon {
    background-size: contain;
}


/*** Spinner ***/
#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn.btn-primary,
.btn.btn-secondary,
.btn.btn-outline-primary:hover,
.btn.btn-outline-secondary:hover {
    font-size: 20px;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-browse {
    color: #CEBD9C !important;
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: inline-block;
}

/*** Navbar ***/
.fixed-top {
    transition: .5s;
}

.top-bar {
    height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, .07); 
    /* background-color: #e00a0a; */
}

.navbar .dropdown-toggle::after {
    /* border: none; */
    /* content: "\f107"; */
    font-family: "Gilroy Bold", Sans-serif;
    font-weight: 900;
    vertical-align: middle;
    margin-left: 8px;
}

.navbar .navbar-nav .nav-link {
    padding: 9px 15px;
    color: #555555;
    font-weight: 500;
    outline: none;
}

.navbar .navbar-nav .nav-link:hover,
.navbar .navbar-nav .nav-link.active {
    color: var(--dark);
    /* font-size: 17px; */
    text-transform: uppercase;
    font-size: 14px;
}

.sidebar-link {
    color: var(--dark);
    font-size: 12px;
    text-transform: uppercase;
}


.header_bs_mo {
    padding-top: 15rem !important;
    padding-bottom: 2rem !important;
}


.testimonial-item.owl-carousel .owl-item img {
    display: none;
}
.align-items-center {
    align-items: center !important;
}
.navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
    display: flex;
    flex-wrap: inherit;
    align-items: center !important;
    justify-content: center !important;
}
@media (min-width: 320px) and (max-width: 425px) {

    .pro-btn-new{
        padding: 10px 20px 10px 20px !important;
    }
    .navbar .navbar-nav .nav-item .nav-link{
        font-size: 12px ;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
        
        align-items: left !important;
        justify-content: left !important;
    }
    
    .navbar .navbar-nav .nav-link {
        padding: 3px 0;
    }

    .carousel-item {
        margin-top: 10.5rem !important;
    }
    .header_bs_mo {
        padding-top: 12rem !important;
        padding-bottom: 0rem !important;
    }
}

@media (min-width: 426px) and (max-width: 768px) {
   
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-sm, .navbar>.container-md, .navbar>.container-lg, .navbar>.container-xl, .navbar>.container-xxl {
        
        align-items: left !important;
        justify-content: left !important;
    }}
    
@media (min-width: 1280px) and (max-width: 1366px) {
.navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    color: var(--dark);
    text-transform: uppercase;
    font-size: 14px;
    padding: 7px 20px 9px 0px;
}

}
@media (min-width: 769px) and (max-width: 1024px) {
    .navbar .navbar-nav .nav-link:hover, .navbar .navbar-nav .nav-link.active {
    color: var(--dark);
    /* font-size: 17px; */
    text-transform: uppercase;
    font-size: 11px;}
}

@media (max-width: 991.98px) {
    .navbar .navbar-nav {
        background: #ffffff;
    }

    .navbar .navbar-nav .nav-link {
        padding: 3px 0;
    }
}



@media (min-width: 992px) {
    .navbar .nav-item .dropdown-menu {
        display: block;
        visibility: hidden;
        top: 37%;
        transform: rotateX(-75deg);
        transform-origin: 0% 0%;
        transition: .5s;
        opacity: 0;
        border-top: 7px solid #0f0f0f;
        padding: 0.85rem 2rem;
    }

    .navbar .nav-item:hover .dropdown-menu {
        transform: rotateX(0deg);
        visibility: visible;
        transition: .5s;
        opacity: 1;
        
    }

  
}


/*** Header ***/
.carousel-caption {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: start;
    z-index: 1;
}

.carousel-control-prev,
.carousel-control-next {
    width: 15%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    width: 3rem;
    height: 3rem;
    /* background-color: var(--primary);
    border: 10px solid var(--primary); */
    border-radius: 3rem;
}

.carousel-item  h1{
font-size: 39px;
    color: whii;
    color: white;
    text-align: center;
    filter: drop-shadow(2px 4px 6px black);
    font-weight: 500;
}
@media (max-width: 768px) {
    #header-carousel .carousel-item {
        position: relative;
        min-height: 143px;
        object-fit: fill;
    }
    .carousel-item h1 {
        font-size: 0px;}
    
    
    #header-carousel .carousel-item img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.page-header {
    padding-top: 12rem;
    padding-bottom: 6rem;
    background: url(../img/carousel-1.jpg) top right no-repeat;
    background-size: cover;
}

.activeTabColor{  

    color: #fff;  

    background-color: #000000;  

}   

.page-item:first-child .page-link {  

    margin-left: 0;  

    border-top-left-radius: .25rem;  

    border-bottom-left-radius: .25rem;  

}  

.pageColor{  

    position: relative;  

    display: block;  

    padding: .5rem .75rem;  

    margin-left: -1px;  

    line-height: 1.25;  

    color: white!important;  

    background-color: black!important;  

    border: 1px solid #dee2e6;  

}  

.notAllowed{  

    position: relative;  

    display: block;  

    padding: .5rem .75rem;  

    margin-left: -1px;  

    line-height: 1.25;  

    color: #007bff;  

    background-color: #fff;  

    border: 1px solid #dee2e6;  

    cursor: not-allowed;  

}  
.page-link {  

    position: relative;  

    display: block;  

    padding: .5rem .75rem;  

    margin-left: -1px;  

    line-height: 1.25;  

    color: #007bff;  

    background-color: #fff;  

    border: 1px solid #dee2e6;  

} 

.breadcrumb-item+.breadcrumb-item::before {
    color: #999999;
}


/*** Section Header ***/
.section-header {
    position: relative;
    padding-top: 25px;
}

.section-header::before {
    position: absolute;
    content: "";
    width: 60px;
    height: 2px;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background: var(--primary);
}

.section-header::after {
    position: absolute;
    content: "";
    width: 90px;
    height: 2px;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: var(--secondary);
}

.section-header.text-start::before,
.section-header.text-start::after {
    left: 0;
    transform: translateX(0);
}



/*** About ***/
.about-img img {
    position: relative;
    z-index: 2;
}

.about-img::before {
    position: absolute;
    content: "";
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background-image: -webkit-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -moz-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -ms-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: -o-repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-image: repeating-radial-gradient(#FFFFFF, #EEEEEE 5px, transparent 5px, transparent 10px);
    background-size: 20px 20px;
    transform: skew(20deg);
    z-index: 1;
}


/*** Product ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

/* .product-item {
    border: 1px solid #e9e6e6;
    border-top: 3px solid #df0a0a;
} */

.product-item img {
    transition: .5s;
    margin: 0 auto;
    display: block;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #ccc9c9;
    /* text-transform: capitalize; */
}

.product-item small a:hover {
    color: var(--primary) !important;
}

.product-item  a{
    overflow: hidden !important;
    -webkit-line-clamp: 2;
    line-clamp: 1;
    -webkit-box-orient: vertical;
    text-transform: uppercase;
    font-size: 0.85rem;
    width: 100%;
    display: -webkit-box! important;
    word-wrap: break-word;
    height: 35px;

}
/*** Testimonial ***/
.testimonial-carousel .owl-item .testimonial-item img {
    width: 60px;
    height: 60px;
}

.testimonial-carousel .owl-item .testimonial-item,
.testimonial-carousel .owl-item .testimonial-item * {
    transition: .5s;
}

.testimonial-carousel .owl-item.center .testimonial-item {
    background: var(--primary) !important;
}

.testimonial-carousel .owl-item.center .testimonial-item * {
    color: #FFFFFF !important;
}

.testimonial-carousel .owl-item.center .testimonial-item i {
    color: var(--secondary) !important;
}

.testimonial-carousel .owl-nav {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}

.testimonial-carousel .owl-nav .owl-prev,
.testimonial-carousel .owl-nav .owl-next {
    margin: 0 12px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--dark);
    border: 2px solid var(--primary);
    border-radius: 50px;
    font-size: 18px;
    transition: .5s;
}

.testimonial-carousel .owl-nav .owl-prev:hover,
.testimonial-carousel .owl-nav .owl-next:hover {
    color: #FFFFFF;
    background: var(--primary);
}


/*** Footer ***/
.footer {
    color: #999999;
}

.footer .btn.btn-link {
    display: block;
    margin-bottom: 5px;
    padding: 0;
    text-align: left;
    color: #999999;
    font-weight: normal;
    text-transform: capitalize;
    transition: .3s;
}

.footer .btn.btn-link::before {
    position: relative;
    content: "\f105";
    font-family:  "Gilroy Bold", Sans-serif;
    font-weight: 900;
    color: #999999;
    margin-right: 10px;
}

.footer .btn.btn-link:hover {
    color: var(--light);
    letter-spacing: 1px;
    box-shadow: none;
}

.footer .copyright {
    padding: 25px 0;
    font-size: 15px;
    border-top: 1px solid rgba(256, 256, 256, .1);
}

.footer .copyright a {
    color: var(--light);
}

.footer .copyright a:hover {
    color: var(--primary);
}

/* contact css */
.services-block-three-new{
    margin-bottom:30px;
  }
  .services-block-three-new i {
      font-size: 32px;
  }
  .services-block-three-new>a {
      display: block;
      border: 2px solid #d5d5d5;
      border-radius: 4px;
      text-align: center;
      background: #fff;
      padding: 20px;
      position: relative;
      margin-bottom:30px;
/* -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      word-wrap: break-word;       */
      height: 132px;
  }

  .services-block-three-new>a:before {
    display: block;
    content: "";
    width: 9%;
    height: 17%;
    position: absolute;
    bottom: -2px;
    right: -2px;
    border-bottom: 2px solid #df0a0a;
    border-right: 2px solid #df0a0a;
    transition: all 0.5s ease 0s;
    -webkit-transition: all 0.5s ease 0s;
    }
    .services-block-three-new>a:after {
        display: block;
        content: "";
        width: 9%;
        height: 17%;
        position: absolute;
        top: -2px;
        left: -2px;
        border-top: 2px solid #df0a0a;
        border-left: 2px solid #df0a0a;
        transition: all 0.5s ease 0s;
        -webkit-transition: all 0.5s ease 0s;
    }
    .services-block-three-new h4 {
        color: #6f6f6f;
        font-size: 12px;
        margin-bottom: 10px;
        font-weight: 600;
        overflow: hidden!important;
        width: 100%;
        display: -webkit-box! important;
       -webkit-line-clamp: 3;
       -webkit-box-orient: vertical;
        word-wrap: break-word;
    }
    .services-block-three-new p {
        margin-bottom: 0;
    color: #757575;
    }
    .services-block-three-new>a:hover {
        opacity: 1;
        border-color: #d5d5d5;
    }
    a:hover, a:active {
        color: #03a9f5;
        text-decoration: none;
    }

    .services-block-three-new >a:hover:before, .services-block-three-new >a:hover:after {
        width: 95%;
        height: 90%;
    }


/****Blog */
.blog-card
{
    border-top: 1px solid #dee2e6;
    padding: 20px 0 20px 0;
}

/*** */
.pointer
{
    cursor: pointer;
}

.product-name-new{
    margin-top: 10px !important;
    padding: 1px !important;
}

.testi-img{
    margin: 0 auto;
    display: block;
    position: relative;
    bottom: 20px;
}

.testi-review{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 7; /* number of lines to show */
    line-clamp: 7; 
    -webkit-box-orient: vertical;
}

.size-btn{
    position: relative;
    right: 20px;
}

.colors-pallete{
    padding: 0 !important;
}

.categoryName {
    padding: 0px !important;
    font-size: 16px;
    font-weight: bold;
}

.categoryBox {
    padding: 0px !important;
    margin: 8px;
    width: 31% !important;
}

.m_header {
    margin: 10px 10px 0px 27px;
}

.nav-toggle{
    float: right;
    margin-top: 20px;
    background-color: #ed3237;
    border: 0px;
    border-radius: 6px;
}

.m-logo{
    width: 150px;
}


@media (min-width:320px) and (max-width: 768px) {
    .pad-mob {
      padding-top: 10rem !important;
    }
    .categoryName { 
        font-size: 12px !important;
        font-weight: bold;
        padding: 0px !important;
    }
    .product-item a {
        font-size: 0.60rem;
        height: 24px;
        line-height: 11px;
        text-align: center;
        overflow: hidden!important;
        width: 100%;
        display: -webkit-box! important;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
         word-wrap: break-word;
    }
    .categoryBox {
        margin: 8px;
        width: 44% !important;
    }
}

@media (min-width:320px) and (max-width: 768px) {
    .pad-mob{
      padding-top: 11rem !important;}
}


