    <!-- Page Header start-->
    <app-navbar></app-navbar>
    <!-- Page Header End -->

    <!-- About Start -->
    <div class="container-xxl header_bs_mo">
        <div class="container">
            <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-3">About Us</h1>
            </div>

            <div class="row g-5 justify-content-center">
                <div class="col-lg-5 col-md-12 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="overflow-hidden  pe-0">
                        <img _ngcontent-qrl-c51="" src="assets/img/Shirts/pro-1-1.jpeg" class="" style="visibility: visible;">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <h3 class="display-0 mb-4">Just the right gear to take your brand places.</h3>
                    <p class="mb-4 color"><b>Vastra</b> is your one-stop destination for high-quality t-shirts and other promotional products. We have over 25 years of experience in the apparel industry. Our goal is to provide our customers with superior quality products at competitive prices. </p>

                    <p class="mb-4 color"> At Vastra, we have something that will suit your needs perfectly. We offer a wide variety of styles, sizes, colors and fabrics so you can easily find what you need for your unique project or event. </p>
                        
                        <p class="mb-4 color"> We use only the finest materials and state-of-the art printing technology to ensure that your t-shirts are of the highest quality. Our team of experts is here to help you find exactly what you need for your order and answer any questions that may come up along the way. We take pride in our customer service and strive to make sure each customer’s needs are met with utmost satisfaction.
                        Thank you for choosing Vastra! So, the next time you have something exciting for your brand in mind, no matter what the size of your order. We assure you of the fullest satisfaction the Vastra way.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->
   

    <!-- Page Footer start-->
    <app-footer></app-footer>
    <!-- Page Footer End -->
