
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
          <button type="button" class="btn-close" (click)="closeClick()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <add-edit-lookup [lookupmaster]="lookupmaster" *ngIf="activateAddEditProlookupCom">
          </add-edit-lookup>
        </div>
      </div>
    </div>
  </div>
  
    <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-gradient-dark device">
      <app-sidebar></app-sidebar>
    </aside>
    <aside *ngIf="isShowDivIf"  class="sidenav navbar navbar-vertical navbar-expand-xs border-0  fixed-start  bg-gradient-dark mobile">
      <app-sidebar></app-sidebar>
    </aside>
    
    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
      <!-- Navbar -->
      <div class="sidenav-header m_header mobile">
        <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true"></i>
        <img src="assets/img/vastralogo_1.png" class="navbar-brand-img m-logo" alt="main_logo">
        <button (click)="toggleDisplayDiv()" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-expanded="true" class="nav-toggle">
          <img class="menu-dark" src="assets/img/menu-light.png" alt="Menu-icon">
        </button>
      </div>
      <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl"  data-scroll="true">
        <div class="container-fluid py-1 px-3">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
              <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="javascript:;">Pages</a></li>
              <li class="breadcrumb-item text-sm text-dark active" aria-current="page">LookUp Master</li>
            </ol>
            <h6 class="font-weight-bolder mb-0">LookUp Master</h6>
          </nav>
          <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4">
            <div class="ms-md-auto pe-md-3 d-flex align-items-center">
              </div>
            <ul class="navbar-nav  justify-content-end">
              <li class="nav-item d-flex align-items-center">
                <a class="btn btn-outline-primary btn-sm mb-0 me-3" target="_blank" href="#">Vastra India</a>
              </li>
              </ul>
          </div>
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="container-fluid py-4">
        <div class="row">
         
          <div class="col-12">
            <div class="card my-4">
             
              <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <!-- <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <button type="button" class="btn btn-outline-white btn-sm mb-0 me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="AddLookupMaster()" data-keyborad="false">+ Add LookUp </button>
                  <a href="admin/lookup-value"><button type="button" class="btn btn-outline-white btn-sm mb-0 me-3" 
                   data-keyborad="false">+ Add LookUp Value</button></a>
                </div> -->
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3">
                  <button type="button" class="btn btn-outline-white btn-sm mb-0 me-3 " data-bs-toggle="modal" data-bs-target="#exampleModal"
                  (click)="AddLookupMaster()" data-keyborad="false">+ Add LookUp </button>
                  <a href="admin/lookup-value"><button type="button" class="btn btn-outline-white btn-sm1 mb-0 me-1" 
                   data-keyborad="false">+ Add LookUp Value</button></a>
                </div>
                
              </div>
              <div class="card-body px-0 pb-2">
                <div class="table-responsive p-0">
                  <div class="card-header"> 
                    Total Lookup: {{total}}
                   </div> 
                  <table class="table align-items-center mb-0">
                    <thead>
                      <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">No.</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Action</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Lookup Name</th>
                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let dataItem of lookupmasterList |  paginate: { itemsPerPage: 10, currentPage: pageNo } let i =index;">
                        <td><div></div> </td>
                        <td>
                          <div class="d-flex px-2 py-1">
                            {{ (pageNo - 1) * LookupmasterPerPage + i +1 }}
                          </div>
                        </td>
                        <td class="text-center">
                          <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal" class="btn btn-link"
                          (click)="EditLookupMaster(dataItem)"><i class="material-icons text-sm me-2">edit</i></button>
                        <button type="button" class="btn btn-link" (click)="deleteClick(dataItem.Lookup_Id)"><i class="material-icons text-sm me-2">delete</i></button>
                      </td>
                        <td>
                          <div class="d-flex px-2 py-1">
                            <div class="d-flex flex-column justify-content-center">
                              <h6 class="mb-0 text-sm">{{dataItem.Lookup_Name}}</h6>
                            </div>
                          </div>
                        </td>
                        <td class="align-middle text-center">
                          <!-- <span class="badge badge-sm bg-gradient-success">Active</span> -->
                          <div *ngIf="dataItem.IsActive!=0">
                            <span class="badge badge-sm bg-gradient-success">Active</span>
                          </div>
                          <div *ngIf="dataItem.IsActive==0">
                            <span class="badge badge-sm bg-gradient-success">DeActive</span>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <pagination-controls (pageChange)="pageNo = $event" class="text-center"></pagination-controls>
              </div>
            </div>
          </div>
            <!-- Code by pagination -->    
        </div>
        
        <footer class="footer py-4  ">
          <div class="container-fluid">
            </div>
        </footer>
      </div>
    </main>
   