
<!-- Page Header start-->
<app-navbar></app-navbar>
<!-- Page Header End -->

 <!-- Product Start -->
 <div class="container-xxl header_bs_mo">
    <!--breadcrumb start-->
    <div class="container" >
    <div class="row g-0 gx-5 align-items-end">
        <nav aria-label="breadcrumb" class="breadcrumb px-2">
            <ol class="breadcrumb" itemscope="" itemtype="http://schema.org/BreadcrumbList">
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope=""
                    itemtype="http://schema.org/ListItem">
                    <a itemprop="item" href=""><span itemprop="name" style="font-weight: bold;">HOME</span></a>
                    <meta itemprop="position" content="1">
                </li>
                <li class="breadcrumb-item" itemprop="itemListElement" itemscope=""
                    itemtype="http://schema.org/ListItem">
                    <a itemprop="item">
                        <span itemprop="name" style="font-weight: bold; color: #ff6600;">{{categoryName}}</span>
                    </a>
                </li>
            </ol>
        </nav>
    </div>
    </div>
    <!--breadcrumb- End -->
    <div class="container" >
        <div class="row g-0 gx-5 align-items-end">
             <div class="col-lg-6">
                <div class="section-header text-start  wow fadeInUp" data-wow-delay="0.1s" style="max-width: 500px;"  *ngIf ="categoryName">
                    <h1 class="display-5 mb-3" (click)="getProductByCategory()">{{categoryName}}</h1>
                    <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p> -->
                </div> 
            </div> 
        </div>

        <div class="tab-content py-4">
            <div id="tab-1" class="tab-pane fade show p-0 active"  >
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-4 col-md-6  col-6 wow fadeInUp categoryBox" data-wow-delay="0.1s" *ngFor ="let product of productList"  >
                        <div class="product-item pointer"  id ="tab-1" (click)="onClick(product)" >
                            <div class="pt-2 pl-0 pb-2">
                                <a class="d-block h5 mb-0">{{product.Product_Title}}</a>
                                <!-- <span class="text-primary me-1">{{data.productPrice|currency:"INR"}}</span>
                                <span class="text-body text-decoration-line-through">$29.00</span> -->
                            </div>
                            <div class="position-relative overflow-hidden" *ngIf="product.Product_type==1">

                                <img class="img-fluid w-100" src="assets/img/{{categoryFolderName}}/{{product.Product_FrontPhoto}}" alt="">
                                <!-- <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"></div> -->
                            </div>
                            <div class="position-relative  overflow-hidden" *ngIf="product.Product_type==2">

                                <img class="img-fluid w-100" src="assets/img/{{categoryFolderName}}/{{product.Product_Photo}}" alt="">
                                <!-- <div class="bg-secondary rounded text-white position-absolute start-0 top-0 m-4 py-1 px-3"></div> -->
                            </div>
                            <!-- <div class="position-relative bg-light overflow-hidden" *ngIf="product.Product_type==3">

                                <img class="img-fluid w-100" src="assets/img/{{categoryFolderName}}/{{product.Product_SidePhoto}}" alt="">
                            </div> -->
                            
                            <div class="text-center">
                                <!-- {{product.SubCategory}} -->
                                
                            </div>
                           
                            
                        </div>
                    </div>
                </div>
            </div>
        </div> 
    </div>
</div> 
<!-- Product End -->


<!-- Page Footer start-->
<app-footer></app-footer>
<!-- Page Footer End -->

    