.img-fluid-a{
max-width: 100%;
height: auto;
/* border-radius: 10px; */
cursor: pointer;
}
.blog-heading{
    height: 67px;
    text-overflow: ellipsis;
    overflow: hidden!important;
    width: 100%;
    display: -webkit-box! important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
     word-wrap: break-word;
     max-width: 23.4em;
     padding-left: 1px;
    padding-right: 5px;
}


    @media (min-width: 320px) and (max-width: 425px) {
        .blog-heading{
            font-size: 16px !important;
             height: 54px;
             overflow: hidden!important;
             width: 100%;
             display: -webkit-box! important;
             -webkit-line-clamp: 2;
             -webkit-box-orient: vertical;
              word-wrap: break-word;
              max-width: 15.4em;
   
        }
    }
    @media (min-width:320px) and (max-width: 768px) {
        .pad-mob{
          padding-top: 11rem !important;
        }
    }