

.blog-heading{
    height: 55px;
-webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;}


    @media (min-width: 320px) and (max-width: 425px){
        .blog-heading{
            font-size: 16px !important;
        }
    }
    @media (min-width:320px) and (max-width: 768px) {
        .pad-mob{
          padding-top: 12rem !important;}}