<app-navbar></app-navbar>
<!-- Carousel Start -->
<div class="container-fluid p-0 mb-5 wow fadeIn" data-wow-delay="0.1s">
    <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="w-100" src="assets/img/banner/banner1.jpeg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7">
                                <h1 class="display-2 mb-5 animated slideInDown">Custom Clothing</h1>
                                <!-- <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Products</a>
                                <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="w-100" src="assets/img/banner/banner2.jpeg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="col-lg-7">
                            <h1 class="display-2 mb-5 animated slideInDown">Custom Clothing</h1>
                            <!-- <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Products</a>
                            <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item ">
                <img class="w-100" src="assets/img/banner/banner3.jpeg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7">
                                <h1 class="display-2 mb-5 animated slideInDown">Custom Clothing</h1>
                                <!-- <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Products</a>
                                <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <img class="w-100" src="assets/img/banner/banner4.jpeg" alt="Image">
                <div class="carousel-caption">
                    <div class="container">
                        <div class="row justify-content-start">
                            <div class="col-lg-7">
                                <h1 class="display-2 mb-5 animated slideInDown">Custom Clothing</h1>
                                <!-- <a href="" class="btn btn-primary rounded-pill py-sm-3 px-sm-5">Products</a>
                                <a href="" class="btn btn-secondary rounded-pill py-sm-3 px-sm-5 ms-3">Services</a> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#header-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#header-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>
<!-- Carousel End -->

<!-- <nav class="" data-wow-delay="0.1s">
        <div class="announcement-bar">
            <div class="page-width">
              <div id="AnnouncementSlider" class="announcement-slider slick-initialized slick-slider" data-compact-style="false" data-block-count="3">
                  <div aria-live="polite" class="slick-list draggable"><div class="slick-track" role="listbox" style="opacity: 1; width: 1422px; transform: translate3d(0px, 0px, 0px);">
                   <div id="AnnouncementSlide-1590067467406" class="announcement-slider__slide slick-slide slick-active" data-index="1" data-slick-index="1" aria-hidden="false" tabindex="-1" role="option" aria-describedby="slick-slide01" style="width: 474px;">
                      <span class="announcement-text">Accepting Cash On Delivery In Selected Areas (Rs. 60 Extra Per Order)</span>
                    </div></div></div>
                </div>
            </div>
          </div>
    </nav> -->


<!-- About Start -->
<!-- <div class="container-xxl py-5">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                <div class="about-img position-relative overflow-hidden p-5 pe-0">
                    <img class="img-fluid w-100" src="assets/img/home_about.jpg">
                </div>
            </div>
            <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                <h1 class="display-5 mb-4"> Best Handmade Ethical Clothing From Different Parts Of India</h1>
                <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
                    eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo magna dolore erat amet</p>
                <p><i class="fa fa-check text-primary me-3"></i>Great quality products</p>
                <p><i class="fa fa-check text-primary me-3"></i>Excellent fabric</p>
                <p><i class="fa fa-check text-primary me-3"></i>Personalised sizes and excellent in quality</p>
                <p><i class="fa fa-check text-primary me-3"></i>Flawless finishing</p> 
                <p><i class="fa fa-check text-primary me-3"></i>Timely delivery</p> 
                <a class="btn btn-primary rounded-pill py-3 px-5 mt-3" href="">Read More</a>
            </div>
        </div>
    </div>
</div> -->
<!-- About End -->


<!-- Feature Start -->
<!-- <div class="container-fluid bg-light bg-icon my-5 py-6">
    <div class="container">
        <div class="section-header text-center mx-auto mb-5 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-5 mb-3">Our Features</h1>
            <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-1.png" alt="">
                    <h4 class="mb-3">Natural Process</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero
                        dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-2.png" alt="">
                    <h4 class="mb-3">Handmade Products</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero
                        dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
                <div class="bg-white text-center h-100 p-4 p-xl-5">
                    <img class="img-fluid mb-4" src="assets/img/icon-3.png" alt="">
                    <h4 class="mb-3">Biologically Safe</h4>
                    <p class="mb-4">Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed vero
                        dolor duo.</p>
                    <a class="btn btn-outline-primary border-2 py-2 px-4 rounded-pill" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Feature End -->



<!-- Product Start -->
<div *ngIf="categoryList.length > 0" class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-7">
                <div class="section-header text-start mb-4 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3">Our Products</h1>
                    <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.
                    </p> -->
                </div>
            </div>
        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-6 col-md-6  col-12 wow fadeInUp Product_Category_item" data-wow-delay="0.1s"
                        *ngFor="let data of categoryList.slice(0,6)" >
                        <div class="product-item pointer" id="tab-1" (click)="onCategoryClick(data)">
                            <div class="" >
                                <img class="img-fluid pro-img-hw" src="assets/img/category/{{data.Category_Photo}}" alt="">
                                <span class="tag"><h1 class="tagname">{{data.Category_Name}}</h1></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s"
                        style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                        <a class="btn btn-primary rounded-pill py-2 px-5" href="category">View More ...</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Product End -->

<!-- Brand Start -->
<div *ngIf="brandList.length > 0" class="container-xxl py-5">
    <div class="container">
        <div class="row g-0 gx-5 align-items-end">
            <div class="col-lg-7">
                <div class="section-header text-start mb-4 wow fadeInUp" data-wow-delay="0.1s">
                    <h1 class="display-5 mb-3">Brands</h1>
                    <!-- <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.
                    </p> -->
                </div>
            </div>

        </div>
        <div class="tab-content">
            <div id="tab-1" class="tab-pane fade show p-0 active">
                <div class="row g-4">
                    <div class="col-xl-3 col-lg-6 col-md-6  col-12 wow fadeInUp Brand-item" data-wow-delay="0.1s" 
                        *ngFor="let data of brandList.slice(0,6)">
                        <div class="product-item" (click)="onCategoryClick(data)" >
                            <img class="img-fluid pro-img-hw" src="assets/img/brand/{{data.Category_Photo}}" alt="" >
                            <span class="tag"><h1 class="tagname">{{data.Category_Name}}</h1></span>
                        </div>
                    </div>
                    <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s"
                    style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                    <a class="btn btn-primary rounded-pill py-2 px-5" href="brand">View More ...</a>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Brand End -->

<!-- client review End -->
<section class="review-bg"style="background-image: url('assets/img/review-bg.jpg');


background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;">


<div class="container-fluid bg-light bg-icon py-5 mb-2" style="background-color: #0f0f0f8f !important;
" *ngIf="customerReview.length > 0">
    <div class="container" >
        <div class="section-header text-center mx-auto mb-3 mt-3 wow fadeInUp" data-wow-delay="0.1s"
            style="max-width: 500px;">
            <h1 class="display-5 mb-2 pb-2" style="color: #ffffff;
          
            filter: drop-shadow(2px 4px 6px black);">Client Reviews</h1>
        </div>
        <owl-carousel-o [options]="customOptions">
            <ng-container  *ngFor="let data of customerReview">
                <ng-template carouselSlide [width]="375">
                    <div class="card testimonial">
                        <div class="card-body">
                            <h4 class="card-title"><img src="assets/img/quote-left.png"></h4>
                            <div class="template-demo testi-review">
                               <div class="testi-review">
                                <p style="color: #555555;
                                font-weight: 500;">  {{data.Review}}</p></div>
                            </div>
    
                            <div class="row">
                                <div class="col-sm-2 col-3">
                                    <img class="rounded-circle profile-pic" src="assets/img/client_reviews/{{data.Client_Photo}}" alt="{{data.Client_Name}}">
                                </div>
    
                                <div class="col-sm-10 col-9">
                                    <div class="profile">
                                        <h4 class="cust-name">{{data.Client_Name}}</h4>
                                        <p class="cust-profession" style="font-size: 14px; color: gray; padding: 5px 0 0 0;">{{data.Profession}}</p>    
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-template>  
            </ng-container>
         </owl-carousel-o>
    </div>
</div>
</section>
<!-- client review End -->

<!-- Blog Start -->
<div *ngIf="blogList.length > 0" class="container-xxl pt-6 pb-3">
    <div class="container">
        <div class="col-lg-7">
            <div class="section-header text-start mb-4 wow fadeInUp" data-wow-delay="0.1s">
                <h1 class="display-5 mb-3">Latest Blogs</h1>
                <p>Tempor ut dolore lorem kasd vero ipsum sit eirmod sit. Ipsum diam justo sed rebum vero dolor duo.</p>
            </div>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s" *ngFor="let data of blogList">

                <img class="img-fluid" src="assets/img/blog/{{data.Image_Name}}">
                <div class="bg-light p-4">
                    <a class="d-block h5 lh-base mb-2 me-3 blog-heading" (click)="onClick(data)">{{data.Blog_Title}}</a>
                    <div class="text-muted border-top pt-2">
                        <small class="me-3"><i class="fa fa-clock text-primary me-2"></i>{{data.Updated_Date | date}}</small>
                        <small class="me-3 read-more" (click)="onClick(data)">Read More...</small>
                    </div>
                </div>
            </div>
            <div class="col-12 text-center wow fadeInUp" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeInUp;">
                <a class="btn btn-primary rounded-pill py-2 px-5" href="blog">View More ...</a>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->

<app-footer></app-footer>