<div class="Pro_Cat-form">
    <form class="blog" [formGroup]="Pro_CatForm" >
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Category Name :</label>
            <input type="text"  [(ngModel)]="Category_Name" class="form-control mb-2" id="inputCategory_Name" formControlName="Category_Name" placeholder="Enter Category Name">
            <div *ngIf="submitted && formControl.Category_Name.errors" class="text-danger">
              <div *ngIf="formControl.Category_Name.errors.required">Category Name is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Category Description :</label>
          <input type="text"  [(ngModel)]="Category_Description" class="form-control mb-2" id="inputCategory_Description" formControlName="Category_Description" placeholder="Enter Category Description">
          <div *ngIf="submitted && formControl.Category_Description.errors" class="text-danger">
            <div *ngIf="formControl.Category_Description.errors.required">Category Description is required.</div>
          </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Is Brand :</label>
            
                <input type="checkbox"  [(ngModel)]="IsBrand" value="{{1}}"  class="m-1" name="Is_Brand" id="inputCategory_Name" formControlName="IsBrand" (change)="onSelectChange($event)">
            
           
            
        </div>
      

        <div class="col">
            <label>Category Photo :</label>
            <div class="col-sm-10">
              <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
              <div><img [src]="url" *ngIf="url; else elseBlock" style="width: 100px;height: 150px;"></div>
              <p class="color">
                <input type="file" (change)="onselectFile($event)">
              </p>
              <ng-template #elseBlock>
                <div *ngIf="productcategory.IsBrand==0">
                  <div *ngIf="Category_Photo">
                    <img src="assets/img/category/{{Category_Photo}}" style="width: 100px;height: 150px;">
                  </div>
                </div>
                <div *ngIf="productcategory.IsBrand==1">
                  <div *ngIf="Category_Photo">
                    <img src="assets/img/brand/{{Category_Photo}}" style="width: 100px;height: 150px;">
                  </div>
                </div>
              </ng-template>
            </div>
            
          </div>
    </div>
      
      <div class="buttons">
          <button type="button" *ngIf="productcategory.Category_Id==0" class="btn btn-primary" (click)="addProductCategory()">Add</button>
          <button type="button" *ngIf="productcategory.Category_Id!=0" class="btn btn-primary" (click)="updateProductCategory()">Update</button>
      </div>
    </form>
</div> 
