<div class="blog-form">
    <form class="blog" [formGroup]="blogForm" >
      <div class="row">
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Blog Title* : </label>
            <input type="text"  [(ngModel)]="Blog_Title" class="form-control mb-2"  formControlName="Blog_Title" placeholder="Enter Blog Title">
            <div *ngIf="submitted && formControl.Blog_Title.errors" class="text-danger">
              <div *ngIf="formControl.Blog_Title.errors.required">Blog Title is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
          <label>Blog Topic* :</label>
          <input type="text"  [(ngModel)]="Blog_Topic" class="form-control mb-2"  formControlName="Blog_Topic" placeholder="Enter Blog Topic">
          <div *ngIf="submitted && formControl.Blog_Topic.errors" class="text-danger">
            <div *ngIf="formControl.Blog_Topic.errors.required">Blog  Topic is required.</div>
          </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Blog Content* :<a input type="button" class="btn list-tag" target="_blank" href="https://www.textfixer.com/html/html-list-generator.php">HTML</a></label>
            <textarea rows="8" cols="43" type="text"  [(ngModel)]="Blog_Content" class="form-control mb-2"  formControlName="Blog_Content" placeholder="Enter Blog Content"></textarea>
            <div *ngIf="submitted && formControl.Blog_Content.errors" class="text-danger">
              <div *ngIf="formControl.Blog_Content.errors.required">Blog Content is required.</div>
            </div>
        </div>
        <div class="col-md-12 roundedTextBox mb-3">
            <label>Blog Photo :</label>
            <div class="col-sm-10">
               
                <div [innerHtml]='msg' *ngIf="msg" style="color: red;"></div>
                <div><img [src]="url" *ngIf="url; else elseBlock" style="width: 100px; height: 150px;"></div>
                <p class="color">
                    <input type="file"   (change)="onselectFile($event)">
                </p>
                <ng-template #elseBlock>
                  <div *ngIf="Image_Name">
                    <img src="assets/img/blog/{{Image_Name}}" style="width: 100px; height: 150px;">
                  </div>
                </ng-template>
            </div>
            <!-- <div *ngIf="submitted && formControl.Image_Name.errors" class="text-danger">
              <div *ngIf="formControl.Image_Name.errors.required">Photo is required.</div>
            </div> -->
        </div>
    </div>
      
      <div class="buttons">
          <button type="button" *ngIf="blog.Blog_Id==0" class="btn btn-primary" (click)="addBlog()">Add</button>
          <button type="button" *ngIf="blog.Blog_Id!=0" class="btn btn-primary" (click)="updateBlog()">Update</button>
      </div>
    </form>
</div> 
