.nav-item{
    /* background: #c3c5cf; */
    /* color: white; */
    margin: 0 0 25px 0;
    transition: .5s;
}
.dropdown-item{
    white-space: inherit;
}

.dropdown-toggle::after {
    display: inline;
    margin-left: 0.255em;
}

.dropdown-menu{
    position: absolute;
}

@media (min-width:320px) and (max-width: 768px) {
    
    .mo-text{
      white-space: inherit;

    }
    .dropdown-toggle::after {
        display: inline;
        margin-left: 0.255em;
        position: absolute;
        bottom: 18px;
    }

    .dropdown-menu{
        position: absolute !important;
    }
}
