.nav-item{
    /* background: #c3c5cf; */
    /* color: white; */
    margin: 0 0 25px 0;
    border: 1px solid rgba(0, 0, 0, .1);
    transition: .5s;
    padding: 10px;
}
.dropdown-item{
    white-space: inherit;
}

.dropdown-toggle::after {
    display: inline;
    margin-left: 0.255em;
 
}
@media (min-width:320px) and (max-width: 768px) {
    .mo-text{
      white-space: inherit;

    }
    .dropdown-toggle::after {
        display: none;
        margin-left: 0.255em;
    }

}
